<% layout('layouts/boilerplate')%>
    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <h1 class="pshoot-header">Sesja wielkanocna w Bielsku-Białej</h2>
            </div>


            <div>
                <% if(currentUser) { %>
                    <a class="btn btn-warning" href="/sesja-wielkanocna/new">Dodaj zdjęcie</a>
                    <% } %>
            </div>
        </div>
        <div class="fade_rule"></div>
        <br>

        <p class="card-text shootIntro">Sesja wielkanocna to dla mnie wstęp do wiosny. Pastelowe kolory, morze kwiatów i
            puchate zajączki wprowadzają do mojego studia niesamowity klimat i gwarantują dobry humor – zwłaszcza u
            odwiedzających mnie dzieci &#128521 Mottem przewodnim jest „dobra zabawa” i moi najmłodsi modele świetnie
            się w nim
            odnajdują. Wielkanocna sesja zdjęciowa to jednak nie tylko świetna zabawa, ale także niepowtarzalna pamiątka
            dla całej rodziny.</p>
        <h2 class="pshoot-header2">Oferta sesji wielkanocnej</h2>
        <p>Wielkanoc zawsze kojarzyła mi się z pierwszymi ciepłymi dniami, kwitnącymi miłkami wiosennymi i pyszną babką
            piaskową. Dzięki tym skojarzeniom z dzieciństwa budowanie scenki było dla mnie prawdziwą przyjemnością A
            co dokładnie jest w tegorocznej ofercie?
        <ul>
            <li>sesja wielkanocna rodzinna</li>
            <li>sesja wielkanocna dzieci</li>
            <li>sesja wielkanocna niemowlaka / noworodka</li>
        </ul>

        <p>
            Zapraszam do współpracy Przedszkola &#128521 Mam doświadczenie w przeprowadzaniu sesji zarówno w
            Przedszkolach
            jak i w Żłobkach.
        </p>

        </p>Scenka jest kompleksowo przygotowana, dominują pastelowe kolory, a przygotowane rekwizyty z pewnością
        przypadną do gustu dzieciom – od filcowych marchewek, po kolorowe jajka w wielu rozmiarach.
        </p>

        <h2 class="pshoot-header2">Sesja wielkanocna w studiu w Bielsku-Białej</h2>
        <p>Sesje odbywają się w moim studiu, które znajduje się w samym centrum miasta – w zabytkowej Kamienicy pod
            Orłem (ul. 11 Listopada 60-62). Studio jest kompleksowo wyposażone, zarówno pod względem rekwizytów jak i
            sprzętu. Pracuję na sprzętach takich marek jak: Canon, Jinbei, Sigma Art, Apple, Quadralite</p>

        <h2 class="pshoot-header2">Jak przygotować się do sesji?</h2>
        <p>O co warto zadbać przed rozpoczęciem sesji wielkanocnej? Oczywiście o dobry nastrój małego modela lub modeli!
            Maluszek powinien być wypoczęty i nakarmiony, tak aby czerpał radość z sesji i dobrze się bawił. Ja zadbam o
            to, aby atmosfera była luźna i przyjazna, dobiorę rekwizyty, które zaciekawią dziecko.</p>
        <p>
            Kolejny krok to wybór odpowiedniej garderoby. Proszę zwrócić uwagę na to, aby styl całej rodziny był spójny
            – nie chodzi tylko o kolorystykę. Rezygnujemy z aplikacji i nadruków, ponieważ odciągają uwagę. Tegoroczna
            scenka wielkanocna będzie się idealnie komponować z niebieskimi lub brązowymi spodniami i gładkimi
            koszulkami, a także pastelowymi sukienkami.
        </p>

        <h2 class="pshoot-header2">Cennik sesji wielkanocnej</h2>
        <p>
            Pakiet zawiera 6 wyretuszowanych zdjęć, które dostaniecie zarówno w formie plików jpg jak i odbitek
            wydrukowanych w formacie 15x21 cm (istnieje możliwość dokupienia dodatkowych odbitek 35zł/szt.). Cena
            pakietu – 300 zł. Czas sesji - do godziny.
            Ten cennik nie dotyczy oczywiście Przedszkoli &#128521

        </p>

        <h2 class="pshoot-header2">Najczęstsze pytania dot. sesji wielkanocnej rodzinnej, dziecięcej</h2>

        <ol>
            <li>Jak się przygotować do sesji wielkanocnej?
                <p>
                    Wystarczy przygotować stylizacje pasujące do scenki – idealnie sprawdzają się kolory pastelowe ;-)
                </p>
            </li>
            <li>Czy trzeba coś zabrać ze sobą?
                <p>Warto zabrać picie i przekąski dla dzieci.</p>
            </li>
            <li>Ile trwa sesja wielkanocna?
                <p>Czas sesji to maksymalnie godzina, dlatego proszę o punktualność.</p>
            </li>
        </ol>

        <a href="/kontakt">Serdecznie zapraszam!</a>

        <div class="container">
            <div class="row justify-content-start">
                <% for (let item of easter) { %>
                    <div class="col-xs-12 col-md-6 px-3 py-3">
                        <div class="pshoot-card card mb-4">
                            <div class="card-body p-0">
                                <% if(currentUser) { %>
                                    <a href="sesja-wielkanocna/<%=item._id%>">link</a>
                                    <% } %>
                                        <div>
                                            <% if(item.images.length) {%>
                                                <img class="card-img-top" src="<%= item.images[0].url %>" alt="card-img"
                                                    id="pshoot-img">
                                                <% } else {%>
                                                    <img class="card-img-top"
                                                        src="https://res.cloudinary.com/dqcadja0y/image/upload/v1617459271/sample.jpg"
                                                        alt="card-img" id="pshoot-img">
                                                    <% } %>

                                        </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>