<div class="flex">
    <div class="row">
        <div class="col-md-3">
            <img src="/images/logoKP-trans.png" class="img-fluid" alt="karolina-pastuszak-photography-logo"
                id="logoStopka">
            <p>&copy; Karolina Pastuszak Photography</p>
            <p>ul. 11 Listopada 60/62 lok 310</p>
            <p>43-300 Bielsko-Biała</p>
            <p>tel. +48 576 579 446</p>
        </div>
        <div class="col-md-3">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare placerat mauris, in posuere
                lacus mattis sed. Pellentesque eu sem a ex dictum interdum et a lectus. Integer ac lacus erat. Curabitur
                vitae aliquet ipsum. </p>
        </div>
        <div class="col-md-3">
            <p>Oferta</p>
            <ul>
                <li>s. brzuszkowa</li>
                <li>s. noworodkowa</li>
                <li>s. dziecięca</li>
                <li>s. rodzinna</li>
                <li>s. komunijna</li>
                <li>s. świąteczna</li>
                <li>s. wielkanocna</li>
            </ul>
        </div>
        <div class="col-md-3">
            <p>Informacje</p>
            <ul>
                <li>Kontakt</li>
                <li>Pakiety</li>
                <li>Vouchery</li>
                <li>Portfolio</li>
                <li>Studio</li>
            </ul>
        </div>
    </div>
</div>


<!-- <div class="d-flex py-3 mt-auto" id="footer">
    <div class="container stopka">
        <img src="/images/logoKP-trans.png" class="img-fluid" alt="karolina-pastuszak-photography-logo" id="logoStopka">
        <section>&copy; Karolina Pastuszak Photography</section>
        <section>ul. 11 Listopada 60/62 lok 310</section>
        <section>43-300 Bielsko-Biała</section>
        <section>tel. +48 576 579 446</section>
    </div>
    <section class="text-muted mx-auto">
    </section>
    <section class="me-5" id="loginButton">
        <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-key" viewBox="0 0 16 16">
                <path
                    d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg></a>
    </section>
</div>

<style>
    #logoStopka {
        max-width: 200px;
        padding-bottom: 10px;
    }

    .stopka {
        text-align: center;
        font-size: 0.8rem;
    }
</style> -->