<div class="flex pb-4 mt-auto" id="footer">
    <div class="row d-flex justify-content-evenly align-items-start pt-1 px-3 mx-3">
        <div class="col-md-2 footerCol text-center">
            <img src="/images/logoKP-trans.png" class="img-fluid mb-3" alt="karolina-pastuszak-photography-logo"
                id="footerLogo">
            <p>Karolina Pastuszak Photography <br>
                ul. 11 Listopada 60/62 lok 310 <br>
                43-300 Bielsko-Biała <br>
                tel. +48 576 579 446</p>
        </div>

        <hr class="footerHr">

        <div class="col-md-2 footerCol text-center">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ornare placerat mauris, in posuere
                lacus mattis sed. Pellentesque eu sem a ex dictum interdum et a lectus. Integer ac lacus erat. Curabitur
                vitae aliquet ipsum. </p>
        </div>

        <hr class="footerHr">

        <div class="col-md-2 footerCol text-center">
            <ul class="p-0">
                <li>Oferta</li>
                <li><a href="/brzuszkowa">brzuszkowa</a></li>
                <li><a href="/noworodkowa">noworodkowa</a></li>
                <li><a href="/dziecieca">dziecięca</a></li>
                <li><a href="/rodzinna">rodzinna</a></li>
                <li><a href="/komunijna">komunijna</a></li>
                <li><a href="/swiateczna">świąteczna</a></li>
                <li><a href="/wielkanocna">wielkanocna</a></li>
            </ul>
        </div>

        <hr class="footerHr">

        <div class="col-md-2 footerCol text-center" style="min-height:211px;">
            <ul class="p-0">
                <li>Informacje</li>
                <li class="pb-2"><a href="/kontakt">kontakt</a></li>
                <li class="pb-2"><a href="/cennik">pakiety</a></li>
                <li class="pb-2"><a href="/voucher">voucher</a></li>
                <li class="pb-2"><a href="/portfolio">portfolio</a></li>
                <li class="pb-2"><a href="/studio">stuido</a></li>
            </ul>
        </div>
    </div>
</div>


<!-- <div class="d-flex py-3 mt-auto" id="footer">
    <div class="container stopka">
        <img src="/images/logoKP-trans.png" class="img-fluid" alt="karolina-pastuszak-photography-logo" id="logoStopka">
        <section>&copy; Karolina Pastuszak Photography</section>
        <section>ul. 11 Listopada 60/62 lok 310</section>
        <section>43-300 Bielsko-Biała</section>
        <section>tel. +48 576 579 446</section>
    </div>
    <section class="text-muted mx-auto">
    </section>
    <section class="me-5" id="loginButton">
        <a href="/login"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor"
                class="bi bi-key" viewBox="0 0 16 16">
                <path
                    d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z" />
                <path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
            </svg></a>
    </section>
</div>

<style>
    #logoStopka {
        max-width: 200px;
        padding-bottom: 10px;
    }

    .stopka {
        text-align: center;
        font-size: 0.8rem;
    }
</style> -->