<div class="footer py-4 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; Karolina Pastuszak Photography</span>
        <span><i class="fab fa-instagram"></i></span>
    </div>
</div>