<nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navContent"
        aria-controls="navContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navContent">
        <div class="navbar-nav container">
            <a class="nav-item nav-link mx-3 text-nowrap" href="aboutMe">O mnie</a>
            <div class="dropdown">
                <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdownMenu" data-bs-toggle="dropdown"
                    href="portfolio">Portfolio</a>
                <ul class="dropdown-menu py-0">
                    <li><a class="dropdown-item" type="button" href="#">Sesje lifestyle</a></li>
                    <li><a class="dropdown-item" type="button" href="#">Sesje ślubne</a></li>
                    <li><a class="dropdown-item" type="button" href="#">Sesje dzieci</a></li>
                </ul>
            </div>
            <a class="nav-item nav-link mx-3 text-nowrap" href="beforeSession">Przed sesją</a>
            <a class="navbar-brand mx-3" href="/"><img src="images/logoKP-trans.png" class="img-fluid"
                    alt="Karolina_photography_logo" id="logo"></a>
            <a class="nav-item nav-link mx-3" href="vouchery">Vouchery</a>
            <a class="nav-item nav-link mx-3" href="pakiety">Pakiety</a>
            <a class="nav-item nav-link mx-3" href="contact">Kontakt</a>
        </div>
    </div>
</nav>