<nav class="navbar navbar-expand-sm navbar-light">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#expandme">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="expandme">
        <div class="navbar-nav">
            <a href="H" class="nav-item nav-link"><i class="fas fa-home"></i></a>
            <a class="nav-item dropdown nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Usługi
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Sesje lifestyle</a></li>
                <li><a class="dropdown-item" href="#">Sesje ślubne</a></li>
                <li><a class="dropdown-item" href="#">Sesje dzieci</a></li>
            </ul>
            <a href="Przed_sesja" class="nav-item nav-link">Przed sesją</a>
            <a class="navbar-brand" href="#">
                <img src="/images/logoKP-trans.png" class="img-fluid" alt="" width="360" height="240">
            </a>
            <a href="O_mnie" class="nav-item nav-link">O mnie</a>
            <a href="Kontakt" class="nav-item nav-link">Kontakt</a>
        </div>
    </div>
    </div>
</nav>