<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sesje dzieci</title>
</head>

<body>
    <h2>Wszystkie sesje dziecięce</h2>
    <div>
        <a href="/kids/new">Dodaj sesję</a>
    </div>
    <ul>
        <% for (let kid of kids) { %>
            <li>
                <a href="/kids/<%= kid._id %>">
                    <%= kid.title %>
                </a>
            </li>
            <% } %>
    </ul>
</body>

</html>