<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nowa sesja</title>
</head>

<body>
    <form action="/kids" method="POST">
        <div>
            <label for="title">Nazwa sesji</label>
            <input type="text" id="title" name="kids[title]">
        </div>
        <div>
            <label for="description">Opis sesji</label>
            <input type="text" id="description" name="kids[description]">
        </div>
        <button>
            dodaj sesję
        </button>
    </form>
    <a href="/kids">sesje dziecięce</a>
</body>

</html>