<% layout('layouts/boilerplate') %>

    <h1>
        <%= kids.title %>
    </h1>
    <h2>
        <%= kids.description %>
    </h2>
    <p><a href="/kids/<%=kids._id%>/edit">edytuj</a></p>
    <p>
    <form action="/kids/<%=kids._id%>?_method=DELETE" method="POST">
        <button>
            skasuj sesję
        </button>
    </form>
    </p>
    <footer>
        <a href="/kids">Wszystkie sesje</a>
    </footer>