<% layout('layouts/boilerplate') %>

    <div class="container my-3" id="oferta-dziecieca">
        <div class="oferta card p-3">
            <h1 class="h1_oferta mt-3">Sesja dziecięca w Bielsku-Białej</h1>
            <div class="fade_rule mb-3"></div>
            <p>
                Dziecięca sesja zdjęciowa to cudowna pamiątka na całe życie, a także doskonały pomysł na prezent na
                przykład dla dziadków. Co więcej podczas takiej sesji dzieci świetnie się bawią. Zdjęcia wykonuję
                zarówno w moim studiu zlokalizowanym w centrum Bielska-Białej, jak również w plenerze.
            </p>

            <h2 class="h2_oferta">Oferta sesji dziecięcej</h2>
            <div class="fade_rule mb-3"></div>
            <p>
                Z własnego doświadczenia wiem jak szybko dzieci rosną i zmieniają się. Po latach oglądanie zdjęć z
                dzieciństwa będzie jak podróż wehikułem czasu. Sama mam zdjęcia do których uwielbiam wracać, bo wiążą
                się najszczęśliwsze wspomnienia, które wyblakłyby gdyby nie albumy pełne fotografii.
                <br>
                Sesje dziecięce obejmują:
            </p>

            <ul>
                <li>Zdjęcia w studio lub w plenerze</li>
                <li>Obróbkę i retusz wybranych zdjęć</li>
                <li>Dostęp do galerii internetowej z wybranymi zdjęciami</li>
                <li>Możliwość wyboru dodatkowych opcji, takich jak np. obraz na płótnie czy harmonijka ze zdjęciami</li>
            </ul>

            <h3 class="h3_oferta">Plenerowa sesja dziecięca</h3>
            <div class="fade_rule mb-3"></div>
            <p>
                Sesja w plenerze jest tym co dzieci lubią najbardziej &#128521 Zwłaszcza te malutkie, dla których
                wszystko
                wokół jest ciekawe i można je fotografować podczas swobodnej zabawy. Wszystko co wezmą do rączki może
                być wdzięcznym rekwizytem – listek, kwiatuszek, a nawet patyk. W plenerze dzieci czują się swobodniej i
                to jest na zdjęciach widoczne.
                <br>
                Mam swoje sprawdzone lokalizacje w Bielsku oraz okolicach. Jestem również otwarta na Wasze propozycje
                &#128521
                Plener wybieramy wspólnie tak, aby jak najlepiej współgrał z Waszą wizją i charakterem sesji.
            </p>

            <h3 class="h3_oferta">Sesja dziecięca w studiu</h3>
            <div class="fade_rule mb-3"></div>
            <p>
                Sesja w studiu ma swoje niewątpliwe zalety. Nie tylko można zmieniać stylizacje i rekwizyty, ale także
                można wykonać ją bez względu na pogodę i porę dnia. Pracuję na różnych tłach, wykonuję zarówno dziecięce
                sesje świąteczne jak i okazjonalne – na przykład z okazji Dnia Matki. Współpracuję również z
                przedszkolami, więc o pracy z dziećmi wiem już chyba wszystko – od noworodka po nastolatka &#128521 .

            </p>

            <h2 class="h2_oferta">Cennik sesji dziecięcej</h2>
            <div class="fade_rule mb-3"></div>
            <p>Przygotowałam trzy pakiety, które różnią się ilością zdjęć oraz dodatkami. Zapraszam do zapoznania się z
                nimi <a href="/cennik">tutaj</a>.
                <br>
                Przekazuję zarówno wyretuszowane pliki jpg jak i wydruki. Nie przekazuję natomiast zdjęć poza pakietem
                ani zdjęć bez retuszu. W przypadku gdyby spodobało się Wam więcej zdjęć istnieje możliwość dokupienia
                dodatkowych ujęć poza pakietem.

            </p>

            <h2 class="h2_oferta">Jak przygotować się do sesji dziecięcej?</h2>
            <div class="fade_rule mb-3"></div>
            <p>
                O co warto zadbać przed rozpoczęciem zdjęć? Oczywiście o dobry nastrój małego modela! Maluszek powinien
                być wypoczęty i nakarmiony, tak aby czerpał radość z sesji i dobrze się bawił. Ja zadbam o to, aby
                atmosfera podczas sesji była luźna i przyjazna, dobiorę rekwizyty, które zaciekawią dziecko
                <br>
                Taką sesję można zaplanować jako stylizowaną lub naturalną. Posiadam różne rekwizyty, ale to oczywiście
                Wy zdecydujecie o charakterze zdjęć. Jeśli chodzi o ubranie, to warto wystrzegać się wszelkiego rodzaju
                nadruków i aplikacji, ponieważ odciągają uwagę od maluszka.
            </p>

            <h2 class="h2_oferta">Najczęstsze pytania dot. sesji dziecięcej</h2>
            <div class="fade_rule mb-3"></div>
            <p>1. Czy w ofercie jest sesja z okazji roczku?</p>

            <p class="ps-3">Oczywiście, na taką okazję mam przygotowany tort oraz balony, jest też konfetti, koronkowe
                rampersy i stylowe opaski.
            </p>

            <p>2. Czy podczas sesji można zmieniać stylizacje?</p>

            <p class="ps-3">Naturalnie, można się przebierać, zwłaszcza jeśli to ma uszczęśliwić małego modela lub
                modelkę &#128521</p>

            <p>3. Czy taką sesję można podarować w prezencie?</p>
            <p class="ps-3">Jak najbardziej, mam w ofercie eleganckie vouchery podarunkowe. Drukowane na papierze o
                wysokiej gramaturze i pakowane w stylowe koperty.
            </p>

            <p>4. Ile wcześniej trzeba się umówić?</p>
            <p class="ps-3">To jest trudne pytanie. Zdarza się, że jakaś sesja się przesuwa i wtedy można umówić się
                nawet tego samego dnia. Zdarza się, że trzeba kilka dni poczekać.
            </p>

            <h2 class="h2_oferta">Dlaczego warto?</h2>
            <div class="fade_rule mb-3"></div>
            <p>
                Nie jesteśmy w stanie zapamiętać wszystkich szczęśliwych chwil w naszym życiu. Wspomnienia się
                zacierają, zapominamy nie tylko o wydarzeniach ale również o ludziach, których znaliśmy w dzieciństwie.
                Zdjęcia dają możliwość powrotu do momentów, o których warto pamiętać.
            </p>

            <h3 class="oferta_kontakt mb-3"><a href="/kontakt">Zapraszam do kontaktu</a></h2>
        </div>
    </div>