<% layout('layouts/boilerplate') %>

    <div class="container my-3" id="oferta-komunijna">
        <div class="card p-3 oferta">
            <h1 class="h1_oferta">Sesja wielkanocna w Bielsku-Białej</h1>
            <div class="fade_rule mb-3"></div>
            <p>
                Sesja wielkanocna to dla mnie wstęp do wiosny. Pastelowe kolory, morze kwiatów i puchate zajączki
                wprowadzają do mojego studia niesamowity klimat i gwarantują dobry humor – zwłaszcza u odwiedzających
                mnie dzieci &#128521 Mottem przewodnim jest „dobra zabawa” i moi najmłodsi modele świetnie się w nim
                odnajdują.
                Wielkanocna sesja zdjęciowa to jednak nie tylko świetna zabawa, ale także niepowtarzalna pamiątka dla
                całej rodziny.
            </p>

            <h2 class="h3_oferta">Oferta sesji wielkanocnej</h2>
            <div class="fade_rule mb-3"></div>
            <p>
                Wielkanoc zawsze kojarzyła mi się z pierwszymi ciepłymi dniami, kwitnącymi miłkami wiosennymi i pyszną
                babką piaskową. Dzięki tym skojarzeniom z dzieciństwa budowanie scenki było dla mnie prawdziwą
                przyjemnością  A co dokładnie jest w tegorocznej ofercie?
                - sesja wielkanocna rodzinna
                - sesja wielkanocna dzieci
                - sesja wielkanocna niemowlaka / noworodka

            </p>
            <p>Zapraszam do współpracy Przedszkola  Mam doświadczenie w przeprowadzaniu sesji zarówno w Przedszkolach
                jak i w Żłobkach.

                Scenka jest kompleksowo przygotowana, dominują pastelowe kolory, a przygotowane rekwizyty z pewnością
                przypadną do gustu dzieciom – od filcowych marchewek, po kolorowe jajka w wielu rozmiarach.
            </p>

            <h3 class="h3_oferta">Sesja wielkanocna w studiu w Bielsku-Białej</h3>
            <div class="fade_rule mb-3"></div>
            <p>
                Sesje odbywają się w moim studiu, które znajduje się w samym centrum miasta – w zabytkowej Kamienicy pod
                Orłem (ul. 11 Listopada 60-62). Studio jest kompleksowo wyposażone, zarówno pod względem rekwizytów jak
                i sprzętu. Pracuję na sprzętach takich marek jak: Canon, Jinbei, Sigma Art, Apple, Quadralite.
            </p>

            <h2 class="h2_oferta">Cennik sesji wielkanocnej</h2>
            <div class="fade_rule mb-3"></div>
            <p>Pakiet zawiera 6 wyretuszowanych zdjęć, które dostaniecie zarówno w formie plików jpg jak i odbitek
                wydrukowanych w formacie 15x21 cm (istnieje możliwość dokupienia dodatkowych odbitek 35zł/szt.). Cena
                pakietu – 300 zł. Czas sesji - do godziny.
                Ten cennik nie dotyczy oczywiście Przedszkoli 

            </p>

            <h2 class="h2_oferta">Jak przygotować się do sesji?</h2>
            <div class="fade_rule mb-3"></div>
            <p>
                O co warto zadbać przed rozpoczęciem sesji wielkanocnej? Oczywiście o dobry nastrój małego modela lub
                modeli! Maluszek powinien być wypoczęty i nakarmiony, tak aby czerpał radość z sesji i dobrze się bawił.
                Ja zadbam o to, aby atmosfera była luźna i przyjazna, dobiorę rekwizyty, które zaciekawią dziecko.
                Kolejny krok to wybór odpowiedniej garderoby. Proszę zwrócić uwagę na to, aby styl całej rodziny był
                spójny – nie chodzi tylko o kolorystykę. Rezygnujemy z aplikacji i nadruków, ponieważ odciągają uwagę.
                Tegoroczna scenka wielkanocna będzie się idealnie komponować z niebieskimi lub brązowymi spodniami i
                gładkimi koszulkami, a także pastelowymi sukienkami.
            </p>

            <h2 class="h2_oferta">Najczęstsze pytania dot. sesji wielkanocnej rodzinnej, dziecięcej</h2>
            <div class="fade_rule mb-3"></div>
            <p>1. Jak się przygotować do sesji wielkanocnej?</p>

            <p class="ps-3">Wystarczy przygotować stylizacje pasujące do scenki – idealnie sprawdzają się kolory
                pastelowe &#128521
            </p>

            <p>2. Czy trzeba coś zabrać ze sobą?</p>

            <p class="ps-3">
                Warto zabrać picie i przekąski dla dzieci.
            </p>

            <p>3. Ile trwa sesja wielkanocna?</p>
            <p class="ps-3">
                Czas sesji to maksymalnie godzina, dlatego proszę o punktualność
            </p>

            <h3 class="h3_oferta"><a href="/kontakt">Kontakt</a></h2>
        </div>
    </div>