<% layout('layouts/boilerplate') %>

    <div class="container align-items-center my-3" id="oferta-noworodkowa">
        <div class="row justify-content-center">
            <div class="card col-md-10 col-xs-12 p-3 oferta">
                <h1 class="h1_oferta">Fotograficzna sesja noworodkowa w Bielsku-Białej</h1>
                <div class="fade_rule mb-3"></div>
                <p>
                    Sesja noworodkowa ma na celu uwiecznienie pierwszych chwil nowego członka rodziny. Narodziny dziecka
                    to
                    szczególnie ważne wydarzenie i zdecydowanie warte utrwalenia. Dzieci rosną bardzo szybko, zmieniają
                    się.
                    Nawet miesięczny bobas wygląda zupełnie inaczej niż zaraz po urodzeniu. Te pierwsze chwile bez
                    wątpienia
                    są niezwykle cenne.
                </p>

                <h2 class="h2_oferta">Oferta sesji noworodkowej</h2>
                <div class="fade_rule mb-3"></div>
                <p>
                    Jestem dyplomowanym fotografem noworodkowym, a także mamą dwóch małych chłopców. Możecie być pewni,
                    że
                    powierzone mi maleństwo będzie całkowicie bezpieczne i zadbam o jego dobre samopoczucie. Na moich
                    sesjach to maluszek jest szefem &#128521
                    <br>
                    Doskonale wiem jak ważna dla rodziców jest sesja noworodkowa. Zawsze staram się żeby zdjęcia były
                    maksymalnie różnorodne. Są portrety, maleńkie stópki, pozowanie w koszyczkach oraz na specjalnym
                    stole
                    do pozycjonowania. Posiadam ogromną ilość ubranek i rekwizytów dla noworodków. Ale sesja noworodkowa
                    to
                    nie tylko zdjęcia samego maleństwa. To szansa na uchwycenie rodzącej się relacji pomiędzy nim a
                    rodzicami. I właśnie ta relacja i towarzyszące sesji emocje pozwalają na stworzenie najpiękniejszej
                    możliwej pamiątki. Sesja noworodkowa z rodzicami jest dla mnie równie ważna, co zdjęcia samego
                    maluszka.

                </p>

                <p>Sesje noworodkowe obejmują:</p>
                <ul>
                    <li>Zdjęcia w studio przy użyciu profesjonalnego sprzętu</li>
                    <li>Dostęp do niemowlęcej garderoby studyjnej</li>
                    <li>Obróbkę i retusz wybranych zdjęć</li>
                    <li>Dostęp do galerii internetowej z wybranymi zdjęciami</li>
                    <li>Możliwość wyboru dodatkowych opcji, takich jak np. obraz na płótnie czy harmonijka ze zdjęciami
                    </li>
                </ul>

                <h3 class="h3_oferta">Sesja noworodkowa w moim studiu w Bielsku-Białej</h3>
                <div class="fade_rule mb-3"></div>
                <p>Moje studio jest w pełni przystosowane do sesji noworodkowych.
                    Posiadam wiele rekwizytów – miniaturowe łóżeczka, koszyki, a także profesjonalny stół do
                    pozycjonowania.
                    Zarówno dla dziewczynek jak i dla chłopców mam przygotowane różne outfity – od ubranek po owijki.
                    Wykonuję również zdjęcia w stylu lifestyle – to właśnie one ukazują bliskość i więź, jaka zrodziła
                    się
                    pomiędzy rodzicami i Maluszkiem.
                    Zawsze przed przybyciem Maluszka studio jest mocno dogrzewane tak, aby czuł się komfortowo podczas
                    przebierania. Wszystkie ubranka i kocyki prane są w specjalnych płynach do prania ubranek niemowląt.
                </p>

                <h2 class="h2_oferta">Cennik sesji noworodkowej</h2>
                <div class="fade_rule mb-3"></div>
                <p>Przygotowałam trzy pakiety, które różnią się ilością zdjęć oraz dodatkami. Zapraszam do zapoznania
                    się z
                    nimi <a href="/cennik">tutaj</a>. <br>
                    Przekazuję zarówno wyretuszowane pliki jpg jak i wydruki. Nie przekazuję natomiast zdjęć poza
                    pakietem
                    ani
                    zdjęć
                    bez retuszu. W przypadku gdyby spodobało się Wam więcej zdjęć istnieje możliwość dokupienia
                    dodatkowych
                    ujęć
                    poza pakietem
                </p>

                <h2 class="h2_oferta">Jak się przygotować do sesji?</h2>
                <div class="fade_rule mb-3"></div>
                <p>Trzeba się przygotować na to, że zdjęcia noworodkowe mogą długo trwać i warto sobie zarezerwować
                    więcej
                    czasu. Niektóre maluszki prześpią całą sesję i po godzinie idą do domu. Inne wymagają więcej czasu,
                    zwłaszcza jeśli mają problemy z brzuszkiem (to zdarza się np. podczas suplementacji żelazem lub w
                    przypadku uczulenia na składnik mleka modyfikowanego). Fakt jest taki, że kilkudniowy dzidziuś jest
                    podczas sesji szefem i to on decyduje kiedy robimy zdjęcia, a kiedy jest czas na przytulanie z mamą
                    i
                    karmienie.
                </p>

                <p>Na sesję proszę zabrać:</p>
                <ul>
                    <li>smoczek, nawet jeśli go nie używa</li>
                    <li>pieluszki jednorazowe ok 20 szt</li>
                    <li>pieluszki tetrowe</li>
                    <li>kocyk, którego używa (tylko gładki, tak żeby splot nie odcisnął się na skórze)</li>
                    <li>zapas mleka</li>
                </ul>

                <p>Cała rodzina powinna być ubrana w podobnej kolorystyce i stylu. Najlepiej unikać wzorów i aplikacji,
                    świetnie sprawdzają się gładkie, jednolite materiały.</p>

                <h2 class="h2_oferta">Najczęstsze pytania dot. ciążowej sesji</h2>
                <div class="fade_rule mb-3"></div>
                <p>1. Kiedy najlepiej wykonać sesję noworodkową?</p>

                <p class="ps-3">Sesje noworodkowe wykonuje się maksymalnie do 21 dnia życia. Dlaczego? Im dziecko jest
                    starsze tym bardziej staje się świadome tego co się wokół niego dzieje. Ciężej jest je uspać i
                    układać w
                    wystudiowanych pozycjach. Miesięczne dziecko jest już na tyle rozciągnięte, że w niektórych
                    pozycjach
                    będzie mu niewygodnie i to ogranicza możliwości fotografa. Im dziecko jest młodsze tym więcej śpi,
                    jest
                    bardziej elastyczne i jest mniejsza szansa na wystąpienie bolesnej kolki, która pogorszy jego
                    samopoczucie.
                </p>

                <p>2. Kiedy najlepiej umówić się na sesję noworodkową?</p>

                <p class="ps-3">Najlepiej jest zarezerwować termin jeszcze przed porodem. Jeśli data porodu się
                    przesunie u
                    mnie macie gwarancję, że zapasowe terminy będą na Was czekać.

                </p>

                <p>3. Czy trzeba zabrać jakieś stylizacje dla dziecka?</p>
                <p class="ps-3">Nie trzeba, wszystkie stylizacje mam w studiu.
                </p>

                <h3 class="oferta_kontakt mb-3"><a href="/kontakt">Zapraszam do kontaktu</a></h2>
            </div>
        </div>
    </div>