<% layout('layouts/boilerplate') %>

    <div class="container my-3" id="oferta-na-dzien-mamy">
        <div class="card p-3 oferta">
            <h1 class="h1_oferta">Sesja na Dzień Mamy w Bielsku-Białej</h1>
            <div class="fade_rule mb-3"></div>
            <p>
                Dzień Matki to bardzo ważny dzień zarówno dla mam, jak i dla dzieci. Dla mnie osobiście to jeden z
                najważniejszych dni w roku i zawsze planuję jakieś atrakcje abyśmy mogli spędzić czas wspólnie na dobrej
                zabawie Sesja z okazji Dnia Matki to sposób za uchwycenie Waszej bliskości i miłości, na uwiecznienie
                więzi która Was łączy. To ponadczasowa pamiątka, do której będziecie mogli wracać latami. Taka sesja
                może być również pięknym prezentem &#128521 .
            </p>

            <h2 class="h2_oferta">Oferta sesji na Dzień Mamy</h2>
            <div class="fade_rule mb-3"></div>
            <p>Sesję zdjęciową na Dzień Matki możemy zrealizować w studiu lub w plenerze w zależności od Waszych
                preferencji.
                <br>
                W studiu mogę zaoferować sesję na tłach, z różnymi rekwizytami. Natomiast w plenerze zdjęcia są bardzo
                naturalne i spontaniczne. Wszystko zależy od tego na jakim efekcie Wam zależy 
            </p>

            <p>Sesja na Dzień Matki obejmuje:</p>
            <ul>
                <li>Zdjęcia w umówionym miejscu przy użyciu profesjonalnego sprzętu</li>
                <li>Obróbkę i retusz wybranych zdjęć</li>
                <li>Dostęp do galerii internetowej z wybranymi zdjęciami</li>
                <li>Możliwość wyboru dodatkowych opcji, takich jak np. obraz na płótnie czy harmonijka ze zdjęciami</li>
            </ul>

            <h2 class="h2_oferta">Cennik sesji na Dzień Mamy</h2>
            <div class="fade_rule mb-3"></div>
            <p>Przygotowałam trzy pakiety, które różnią się ilością zdjęć oraz dodatkami. Zapraszam do zapoznania się z
                nimi: link.

                Przekazuję zarówno wyretuszowane pliki jpg jak i wydruki. Nie przekazuję natomiast zdjęć poza pakietem
                ani zdjęć bez retuszu. W przypadku gdyby spodobało się Wam więcej zdjęć istnieje możliwość dokupienia
                dodatkowych ujęć poza pakietem

            </p>

            <h2 class="h2_oferta">Jak się przygotować do sesji</h2>
            <div class="fade_rule mb-3"></div>
            <p>Kluczowy jest wybór stylu sesji. Na sportowo, a może na elegancko? To już zależy od Was  Ja mogę tylko
                podpowiedzieć, że wybór odpowiedniej garderoby jest istotny. Proszę zwrócić uwagę na to, aby Wasz styl
                był spójny – nie chodzi tylko o kolorystykę. Rezygnujemy z aplikacji i nadruków, ponieważ niepotrzebnie
                odciągają uwagę.
            </p>

            <h2 class="h2_oferta">Najczęstsze pytania dot. sesji z okazji Dnia Matki</h2>
            <div class="fade_rule mb-3"></div>
            <p>1. Czy taką sesję można podarować?</p>

            <p class="ps-3">Tak, mam w ofercie bony podarunkowe.
            </p>

            <p>2. Ile czasu zajmuje cała sesja?</p>

            <p class="ps-3">To zależy od wybranego pakietu – od 40 minut do 2 godzin. </p>

            <h2 class="h2_oferta">Dlaczego warto?</h2>
            <div class="fade_rule mb-3"></div>
            <p>Więź z mamą jest czymś wyjątkowym, zwłaszcza dla dziecka, bo dla niego jest ona całym światem. Takie
                fotografie są pamiątką na całe życie, niosą ze sobą ogromną wartość sentymentalną. Sesja z okazji Dnia
                Matki to również możliwość zrobienia razem czegoś nietypowego, ciekawego i na wspaniałą zabawę.</p>

            <h3 class="h3_oferta"><a href="/kontakt">Kontakt</a></h2>
        </div>
    </div>