<% layout('layouts/boilerplate') %>

    <div class="container align-items-center my-3" id="oferta-w-przedszkolu">
        <div class="row justify-content-center">
            <div class="card col-md-10 col-xs-12 p-3 oferta">
                <h1 class="h1_oferta">Sesja w przedszkolu w Bielsku-Białej i okolicach</h1>
                <div class="fade_rule mb-3"></div>
                <p>
                    Zdjęcia w przedszkolu są niepowtarzalną okazją na uwiecznienie tych momentów naszego życia, o
                    których
                    najpewniej z czasem przyjdzie nam zapomnieć. A przecież chcielibyśmy pamiętać o pierwszych
                    przyjaciołach, a nawet pierwszych sympatiach &#128521 Do sesji w przedszkolu podchodzę dokładnie tak
                    jak
                    do
                    sesji indywidualnych – z najwyższą starannością i dbałością o każdy szczegół
                </p>

                <h2 class="h2_oferta">Oferta sesji w przedszkolu</h2>
                <div class="fade_rule mb-3"></div>
                <p>Co mnie wyróżnia z grona innych fotografów zajmujących się sesjami przedszkolnymi? Myślę, że przede
                    wszystkim różnorodność i pomysłowość. Scenki zaaranżowane są tak, abym mogła każdemu dziecku wykonać
                    kilka różnych ujęć i to Rodzice wybierają później najlepsze ich zdaniem zdjęcia &#128521
                    <br>
                    Jak to wygląda w
                    praktyce? Po sesji rodzice dostają link do galerii online i tam mogą dokonać zakupu wybranych ujęć –
                    przyjmuję wyłącznie płatności internetowe, a Przedszkole zwolnione jest z obciążającego zbierania
                    pieniędzy. W przeciwieństwie do większości fotografów u mnie można zakupić również plik jpg.
                </p>


                <h2 class="h2_oferta">Najczęściej zadawane pytania</h2>
                <div class="fade_rule mb-3"></div>
                <p>1. Jak przygotować dziecko do sesji w przedszkolu?</p>

                <p class="ps-3">Przed każdą sesją przekazuję paniom przedszkolankom moje sugestie. Przedszkole dysponuje
                    również zdjęciami przykładowymi scenki, którą mam aktualnie w ofercie
                </p>

                <p>2. Czy są wykonywane zdjęcia grupowe?</p>

                <p class="ps-3">Tak, ale w innej formie. Możliwe jest zamówienie tablo ze zdjęciami dzieci.</p>

                <p>3. Czy w ofercie są zdjęcia z pasowania na przedszkolaka?</p>
                <p class="ps-3">Oczywiście, to bardzo ważna okazja, zdecydowanie warta uwiecznienia &#128521
                </p>

                <h3 class="oferta_kontakt mb-3"><a href="/kontakt">Zapraszam do kontaktu</a></h2>
            </div>
        </div>
    </div>