<% layout('layouts/boilerplate') %>

    <div class="container align-items-center my-3" id="oferta-ciazowa-rodzinna">
        <div class="row justify-content-center">
            <div class="card col-md-10 col-xs-12 p-3 oferta">
                <h1 class="h1_oferta">Fotograficzna sesja ciążowa rodzinna w Bielsku-Białej</h1>
                <div class="fade_rule mb-3"></div>
                <p>
                    Sesja ciążowa to doskonała okazja do uwiecznienia wyjątkowego i niepowtarzalnego momentu w życiu
                    całej
                    rodziny. Część osób pyta mnie czy w sesji może wziąć udział również przyszły tata i zawsze
                    odpowiadam
                    tak samo: oczywiście, a nawet powinien! &#128521 Tak samo rodzeństwo oczekiwanego Maleństwa. Sesja
                    ciążowa
                    rodzinna to unikatowy sposób na uchwycenie tego co ulotne, a więc emocji. Takie zdjęcia możemy
                    zrealizować zarówno w moim studiu w Bielsku-Białej jak i w bajkowym plenerze. Moje doświadczenie i
                    wiedza pozwolą na stworzenie dla Państwa niezapomnianej pamiątki &#128521
                </p>

                <h2 class="h2_oferta">Oferta ciążowej sesji rodzinnej</h2>
                <div class="fade_rule mb-3"></div>
                <p>
                    Podczas sesji ciążowej rodzinnej zadbam o każdy szczegół, gwarantuję miłą i luźną atmosferę &#128521
                    W
                    ofercie
                    mam szeroki wybór stylizacji dla oraz rekwizytów dla przyszłej mamy, która dzięki garderobie
                    studyjnej
                    będzie mogła poczuć się jak gwiazda, a zdjęcia będą wyjątkowe i niepowtarzalne.
                    <br>
                    Sesje ciążowe rodzinne obejmują:

                </p>

                <p>Sesje brzuszkowe obejmują:</p>
                <ul>
                    <li>Zdjęcia w studio lub w plenerze</li>
                    <li>Dostęp do garderoby studyjnej</li>
                    <li>Obróbkę i retusz wybranych zdjęć</li>
                    <li>Dostęp do galerii internetowej z wybranymi zdjęciami</li>
                    <li>Możliwość wyboru dodatkowych opcji, takich jak np. obraz na płótnie czy harmonijka ze zdjęciami
                    </li>
                </ul>

                <h3 class="h3_oferta">Rodzinna sesja ciążowa w plenerze</h3>
                <div class="fade_rule mb-3"></div>
                <p>
                    Sesje plenerowe wykonuję w Bielsku-Białej i okolicach – mam swoje sprawdzone miejsca takie jak
                    piękna
                    łąka z widokiem na góry, park, las. Jestem również otwarta na Państwa propozycje &#128521
                    Dlaczego warto wybrać się w plener na sesję ciążową? Takie zdjęcia są bardziej spontaniczne i
                    swobodne.
                    Zwłaszcza jeśli w sesji uczestniczą dzieci. A spotykając się podczas złotej godziny można wyczarować
                    naprawdę niezwykłe kadry.
                </p>

                <h3 class="h3_oferta">Rodzinna sesja ciążowa w studiu</h3>
                <div class="fade_rule mb-3"></div>
                <p>
                    Sesje w studiu dają nieco większą elastyczność – nie jesteśmy uzależnieni od warunków pogodowych czy
                    pory dnia. W studiu fotograficznym można uniknąć problemów związanych z niekorzystnymi warunkami
                    atmosferycznymi, takimi jak np. deszcz.
                    <br>
                    Warto również pamiętać o szerokim wyborze stylizacji i rekwizytów. Posiadam piękne profesjonalne
                    suknie
                    dla kobiet w ciąży, a także stylizacje bardziej artystyczne takie jak tiule upinane na body. Dołożę
                    wszelkich starań aby Wasza sesja była taka jaką sobie wymarzycie &#128521

                </p>

                <h2 class="h2_oferta">Cennik sesji ciążowej rodzinnej</h2>
                <div class="fade_rule mb-3"></div>
                <p>Przygotowałam trzy pakiety, które różnią się ilością zdjęć oraz dodatkami. Zapraszam do zapoznania
                    się z
                    nimi <a href="/cennik">tutaj</a>.
                    <br>
                    Przekazuję zarówno wyretuszowane pliki jpg jak i wydruki. Nie przekazuję natomiast zdjęć poza
                    pakietem
                    ani zdjęć bez retuszu. W przypadku gdyby spodobało się Wam więcej zdjęć istnieje możliwość
                    dokupienia
                    dodatkowych ujęć poza pakietem

                </p>

                <h2 class="h2_oferta">Jak się przygotować do sesji</h2>
                <div class="fade_rule mb-3"></div>
                <p>
                    Przygotowanie do sesji ciążowej rodzinnej wygląda nieco inaczej niż w przypadku sesji samej
                    przyszłej
                    mamy. Warto zadbać o to, aby styl wszystkich członków rodziny współgrał ze sobą. Dotyczy to również
                    kolorów – nie powinny się ze sobą gryźć. Najlepiej unikać wszelkich dużych napisów i nadruków
                    ponieważ
                    niepotrzebnie rozpraszają i odciągają uwagę.
                    Warto zwrócić uwagę na makijaż. Powinien być nieco bardziej wyrazisty niż na co dzień, a skóra
                    powinna
                    być dobrze zmatowiona. Nie warto przesadzać z rozświetlaczami, ponieważ na zdjęciach efekt może
                    wyjść za
                    mocny
                </p>

                <h2 class="h2_oferta">Najczęstsze pytania dot. ciążowej sesji rodzinnej</h2>
                <div class="fade_rule mb-3"></div>
                <p>1. W którym miesiącu najlepiej jest wykonać sesję brzuszkową?</p>

                <p class="ps-3">Tutaj nie ma uniwersalnej odpowiedzi, ponieważ każda kobieta nabiera ciążowych kształtów
                    w
                    innym czasie. Chodzi o uchwycenie momentu kiedy brzuszek jest ładnie uwydatniony i zgrabny
                </p>

                <p>2. Co warto zabrać?</p>

                <p class="ps-3">Na ciążową sesję rodzinną zdecydowanie warto zabrać zdjęcie USG oraz drobiazgi takie jak
                    maleńkie buciki, skarpeteczki, bodziaka lub pluszaka, który czeka na Maleństwo</p>

                <p>3. Ile trwa sesja?</p>
                <p class="ps-3">Czas sesji zależny jest od wybranego pakietu. Im bogatszy pakiet tym dłuższa sesja.
                </p>

                <h3 class="oferta_kontakt mb-3"><a href="/kontakt">Zapraszam do kontaktu</a></h2>
            </div>
        </div>
    </div>