<% layout('layouts/boilerplate') %>

    <div class="container my-3" id="oferta-komunijna">
        <div class="card p-3 oferta">
            <h1 class="h1_oferta">Sesja komunijna w Bielsku-Białej</h1>
            <div class="fade_rule mb-3"></div>
            <p>
                Komunia Święta to bardzo wyjątkowe wydarzenie zarówno dla dzieci jak i dla ich rodziców. Tak uroczyste
                chwile zdecydowanie warto uwiecznić na zdjęciach,
            </p>

            <h2 class="h3_oferta">Sesja komunijna w studiu w Bielsku-Białej</h2>
            <div class="fade_rule mb-3"></div>
            <p>
                Ten ważny moment możemy uwiecznić w studiu, które daje niezależność od pory dnia oraz czynników
                zewnętrznych takich jak pogoda oraz większą intymność – świadkami sesji nie będą osoby postronne. Studio
                wyposażone jest w różne tła, które idealnie pasują do tego typu fotografii.
                <br>
                Moje studio znajduje się w samym centrum miasta – w zabytkowej Kamienicy pod Orłem (ul. 11 Listopada
                60-62). Jest kompleksowo wyposażone, zarówno pod względem rekwizytów jak i sprzętu. Pracuję na sprzętach
                takich marek jak: Canon, Jinbei, Sigma Art, Apple, Quadralite.
            </p>

            <h3 class="h3_oferta">Sesja komunijna w plenerze w Bielsku-Białej</h3>
            <div class="fade_rule mb-3"></div>
            <p>Komunie odbywają się w maju, a nie ma piękniejszego miesiąca do wykonywania zdjęć. Kolory są nasycone,
                wszystko kwitnie, świeci słońce. W maju można wyczarować cudowne kadry, a mali modele będą się czuli
                bardzo swobodnie i będą się dobrze bawić.
                Wykonanie sesji komunijnej w plenerze pozwala uzyskać unikalne i oryginalne zdjęcia, które będą
                niezapomnianą pamiątką na lata. Takie sesje zazwyczaj są bardziej dynamiczne i pełne świeżości, co
                dodaje uroku i naturalności zdjęciom.
                Plener obfituje również w różnorodne tła, co dodaje charakteru i unikalności.
            </p>

            <h2 class="h2_oferta">Cennik sesji komunijnej</h2>
            <div class="fade_rule mb-3"></div>
            <p>Przygotowałam trzy pakiety, które różnią się ilością zdjęć oraz dodatkami. Zapraszam do zapoznania się z
                nimi: link.
                <br>
                Przekazuję zarówno wyretuszowane pliki jpg jak i wydruki. Nie przekazuję natomiast zdjęć poza pakietem
                ani zdjęć bez retuszu. W przypadku gdyby spodobało się Wam więcej zdjęć istnieje możliwość dokupienia
                dodatkowych ujęć poza pakietem.
            </p>

            <h2 class="h2_oferta">Jak się przygotować do sesji?</h2>
            <div class="fade_rule mb-3"></div>
            <p>Przygotowania do sesji najlepiej jest rozpocząć z małym wyprzedzeniem &#128521 Warto zabrać różaniec,
                świecę
                oraz modlitewnik. Jeśli chodzi o stylizacje członków rodziny to warto zadbać o spójny styl oraz
                kolorystykę. W ten dzień lepiej zrezygnować z dużych wzorów, napisów i nadruków, które mogą skupiać na
                sobie uwagę.
            </p>

            <h2 class="h2_oferta">Najczęstsze pytania dot. sesji komunijnej</h2>
            <div class="fade_rule mb-3"></div>
            <p>1. Gdzie można wykonać sesję plenerową?</p>

            <p class="ps-3">Sesje plenerowe wykonuję w Bielsku-Białej oraz okolicach. Mam swoje sprawdzone plenery, ale
                jestem otwarta na Wasze propozycje &#128521 Każdy nowy plener wcześniej sprawdzam, dla całkowitej
                pewności, że
                nie będzie niespodzianek &#128521
            </p>

            <p>2. Czy wykonywane są zdjęcia w kościele?</p>

            <p class="ps-3">
                Nie, podczas sakramentu w kościele zawsze jest fotograf, który fotografuje wszystkie dzieci
                przystępujące do Komunii Świętej. Ja wykonuję pamiątkowe sesje studyjne lub plenerowe.
            </p>

            <p>3. Czy w trakcie sesji komunijnej są robione zdjęcia z rodziną?</p>
            <p class="ps-3">
                Oczywiście, to wydarzenie ważne dla całej rodziny
            </p>

            <h3 class="h3_oferta"><a href="/kontakt">Kontakt</a></h2>
        </div>
    </div>