<% layout('layouts/boilerplate')%>
    <div class="container pt-3">
        <div class="d-flex justify-content-center">
            <h2 class="pshoot-header">Sesje brzuszkowe</h2>
        </div>
        <div class="fade_rule"></div>

        <div class="my-3 d-flex justify-content-center shootIntro">
            <p class="card-text">Kobieta w ciąży promienieje, wygląda piękniej niż kiedykolwiek i
                zachwycająco wychodzi na zdjęciach. Dlatego fotografia ciążowa jest mi szczególnie bliska. Sesje
                przebiegają idealnie, a efekty są za każdym razem olśniewające.</p>
        </div>

        <div class="my-3 d-flex justify-content-center">
            <% if(currentUser) { %>
                <a class="btn btn-warning" href="/sesja-brzuszkowa/new">Dodaj zdjęcia</a>
                <% } %>
        </div>

        <div class="gallery">
            <img src="/images/test/IMG_8709.jpg">
            <img src="/images/test/IMG_8710.jpg">
            <img src="/images/test/IMG_8755.jpg">
            <img src="/images/test/IMG_8756.jpg">
            <img src="/images/test/IMG_8790.jpg">
            <img src="/images/test/IMG_8817.jpg">
            <img src="/images/test/IMG_8818.jpg">
            <img src="/images/test/IMG_8825.jpg">
            <img src="/images/test/IMG_8830.jpg">
            <img src="/images/test/IMG_8831.jpg">
            <img src="/images/test/IMG_8832.jpg">
            <img src="/images/test/IMG_8838.jpg">
            <img src="/images/test/IMG_8843.jpg">
            <img src="/images/test/IMG_8849.jpg">
            <img src="/images/test/IMG_8850.jpg">
            <img src="/images/test/IMG_8859.jpg">
            <img src="/images/test/IMG_8860.jpg">
            <img src="/images/test/IMG_8863.jpg">
            <img src="/images/test/IMG_8867.jpg">
            <img src="/images/test/IMG_8870.jpg">
        </div>
    </div>