<% layout('layouts/boilerplate') %>

    <h1>Mam na imię Karolina</h1>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam, excepturi officia at suscipit, vero dolore harum
        eaque hic assumenda voluptatem error? Eligendi quia harum corrupti! Facilis laboriosam est esse. Animi.</p>