<% layout('layouts/boilerplate') %>
    <div class="container d-flex-row py-2">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6" id="about-me-photo">
                <section class="card"><img
                        src="https://res.cloudinary.com/dqcadja0y/image/upload/v1621946543/KarolinaPhoto/aboutMe_vrwfko.jpg"
                        class="img-fluid" alt="Responsive image">
                </section>
            </div>
            <div class="col-xs-12 col-md-6" id="about-me-text">
                <h5 class="mb-1 pt-3"></h5>
                <p> Cześć! <br><br> Mam na imię Karolina. Fotografia od wielu lat jest moją pasją, która z czasem
                    zamieniła się w zawód. <br> Zaczynałam od robienia zdjęć do magazynów, ale zawsze marzyłam o
                    założeniu własnego studia. Nadszedł dzień, w którym postanowiłam przestać żyć marzeniami i wziąć się
                    do dzieła. Teraz mam niewątpliwą przyjemność zaprosić Państwa do wspólnej przygody podczas sesji
                    zdjęciowej. <br><br> Od maja do września pracuję głównie w plenerze. Dlaczego? Takie sesje są
                    wyjątkowe, nie tylko dlatego, że są bardziej spontaniczne, ale przede wszystkim dlatego, że
                    wyzwalają naturalne emocje. Pozwalają na luźniejszą atmosferę i dobrą zabawę. Wykonywanie zdjęć w
                    plenerze otwiera przed fotografem dodatkowe możliwości, zwłaszcza w przypadku małych dzieci, które
                    nie zawsze chcą współpracować. Co więcej każde zdjęcie jest inne i opowiada swój fragment historii.
                    Zapraszam do zapoznania się z moim portfolio i do kontaktu. </p>
            </div>
        </div>
    </div>