<% layout('layouts/boilerplate') %>
    <main class="container-fluid my-3">
        <div class="row justify-content-center">
            <div class="card col-md-8 col-xs-12 mb-3" id="beforePS">
                <img src="/images/before-ps.png" class="card-img-top img-fluid" alt="beforePSimg" id="beforePSimg">
                <header class="card-title">Jak się przygotować?</header>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja noworodkowa</h6>
                    <p class="card-text">Na sesję noworodkową warto umówić się z wyprzedzeniem, jeszcze przed porodem.
                        Jej termin można w razie czego przesunąć. Ważne jest żeby maluszek miał wykonane zdjęcia w
                        trzech pierwszych tygodniach życia. Później niestety mogą zacząć się kolki i samopoczucie małego
                        modela może się pogorszyć. Sesje noworodkowe wykonuję w stylu lifestyle. Co to oznacza? Że
                        zdjęcia będą bardzo naturalne. Chciałabym pokazać bliskość i więź jaka zarodziła się pomiędzy
                        rodzicami i maluszkiem. </p>
                </div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja dziecięca</h6>
                    <p class="card-text"> Taką sesję można zaplanować jako stylizowaną lub naturalną. Posiadam różne
                        rekwizyty, ale to oczywiście Państwo zdecydują o charakterze zdjęć. Jeśli chodzi o ubranie, to
                        warto wystrzegać się wszelkiego rodzaju nadruków i aplikacji, ponieważ odciągają uwagę od
                        maluszka. </p>
                </div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja ciążowa/ brzuszkowa</h6>
                    <p class="card-text"> Taką sesję najlepiej jest zrealizować, kiedy brzuszek jest już bardzo wyraźnie
                        zarysowany. Wystrzegamy się nadruków i aplikacji na ubraniach, ponieważ niepotrzebnie odwracają
                        uwagę od mamy i głównego bohatera lub bohaterki sesji &#128521. Natomiast przydadzą się
                        wszelkiego rodzaju gadżety takie jak malutkie skarpeteczki lub buciki, bodziaki, zdjęcia USG,
                        pluszaki, które czekają na maleństwo. W sesji ciążowej może uczestniczyć nie tylko przyszła
                        mama, ale również tata i rodzeństwo maluszka. </p>
                </div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja rodzinna</h6>
                    <p class="card-text"> Ten rodzaj sesji wymaga wcześniejszego przygotowania. Proszę zwrócić uwagę na
                        garderobę – styl całej rodziny powinien być spójny. Podobnie kolory. Rezygnujemy z aplikacji i
                        nadruków, ponieważ odciągają uwagę. Jeśli są Państwo rodziną muzykującą możemy zrobić zdjęcia z
                        instrumentami, jeśli jeździcie konno możemy zrobić sesję jeździecką. Tylko wyobraźnie nas
                        ogranicza &#128521 </p>
                </div>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <header>Informacje dodatkowe</header>
                    <p class="card-text">
                    <ul>
                        <li> przed sesją niezbędne jest podpisanie umowy</li>
                        <li> obowiązuje bezzwrotna opłata rezerwacyjna 50zł wpłacana na konto bankowe do czterech dni od wstępnego ustalenia terminu - jest ona oczywiście odliczana od ceny
                            pakietu, a termin można zmienić bez konsekwencji najpóźniej na dobę przed umówionym
                            spotkaniem</li>
                        <li> płatności – pozostałą opłatę należy uiścić w dniu sesji przed jej rozpoczęciem</li>
                        <li> każde dodatkowe ujęcie wykraczające poza pakiet to koszt 20zł</li>
                        <li> sesja w niedzielę to koszt pakietu + 100zł</li>
                        <li> podczas sesji nie ma możliwość robienia własnych zdjęć</li>
                        <li> nie przekazuję zdjęć, których Państwo nie wybrali</li>
                        <li> zastrzegam sobie prawo do autorskiej obróbki</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
    </main>