<% layout('layouts/boilerplate')%>
    <div id="switch-cont">
        <button class="switch-button switch-selected text-center">MINI</button>
        <button class="switch-button text-center">STANDARD</button>
        <button class="switch-button text-center">PREMIUM</button>
    </div>
    <div class = "container mb-3">
        <p class="card-text" >Zapraszam do zapoznania się z oferowanymi przeze mnie pakietami</p>
        <p class="card-text">Zdjęcia w formie elektronicznej przekazuję poprzez aplikację Mafelo, natomiast wydruki przekazuję w eleganckich kopertach lub pudełeczkach</p>
    </div>
    <div class="fade_rule"></div>
    <div class="container d-flex my-3 pricingRow">

        <div class="card pricing-selected">
            <img class="card-img-top" src="/images/pricing1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">7 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>300 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet STANDARD</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">12 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>400 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">17 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>500 PLN</p>
            </div>
        </div>
    </div>

    <div class="container my-4 d-flex justify-content-center">
        <img src="images/line.png" alt="">
    </div>

    <div id="switch-cont">
        <button class="switch-button switch-selected text-center">ŚLUBNY MINI</button>
        <button class="switch-button text-center">ŚLUBNY MAXI</button>
    </div>
    <div class="container d-flex my-3 pricingRow">
        <div class="card pricing-selected">
            <img class="card-img-top" src="/images/pricing1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet ślubny MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2 godzin </span></p>
            </div>
            <div class="card-footer">
                <p>700 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet ślubny PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 3 godzin </span></p>
            </div>
            <div class="card-footer">
                <p>1000 PLN</p>
            </div>
        </div>
    </div>
<br>
    <div class="fade_rule"></div>
    <div class="card-body">
        <h6 id="coWchodziWSklad">Co wchodzi w cenę sesji? </h6>
        <p class="card-text"> Sesja zdjęciowa to nie tylko czas, który spędzimy razem w studio. To również praca włożona opracowanie koncepcji sesji, przygotowanie studia oraz stylizacji i rekwizytów. To godziny spędzone na starannym retuszu, zamawianie wydruków i przygotowanie zdjęć do przekazania.</p>
        <p class="card-text">Czy kilkaset złotych za profesjonalną sesję to dużo? Jeśli weźmiemy pod uwagę powyższe czynniki plus odbyte szkolenia, sprzęt oraz czynsz za studio okazuje się, że nie. Wybierając fotografa nie kierujcie się wyłącznie ceną, bo nie każda osoba, która posiada aparat jest fotografem &#128521 </p>
    </div>

    <script src="/javascripts/pricing.js"></script>