<% layout('layouts/boilerplate')%>

    <div id="switch-cont">
        <button class="switch-button switch-selected text-center">MINI</button>
        <button class="switch-button text-center">STANDARD</button>
        <button class="switch-button text-center">PREMIUM</button>
    </div>
    <div class = "container mb-3">
        <p class="card-text">Zapraszam do zapoznania się z oferowanymi przeze mnie pakietami.</p>
        <p class="card-text">Zdjęcia w formie elektronicznej przekazuję poprzez aplikację Mafelo, natomiast wydruki przekazuję w eleganckich kopertach lub pudełeczkach.</p>
    </div>
    <div class="fade_rule"></div>
    <div class = "container">
        <h1 class="card-text pricingHeader">Sesja dziecięca, rodzinna, ciążowa, wizerunkowa</h1>
    </div>
    <div class="fade_rule"></div>
    <div class="container d-flex my-3 pricingRow">
        <div class="card card1 pricing-selected">
            <img class="card-img-top" src="/images/cennik-sesji-mini.jpg" alt="Cennik sesji mini">
            <div class="card-body">
                <h4 class="card-title">Pakiet MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">5 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>300 PLN</p>
            </div>
        </div>
        <div class="card card1">
            <img class="card-img-top" src="/images/cennik-sesji-standard.jpg" alt="Cennik sesji standard">
            <div class="card-body">
                <h4 class="card-title">Pakiet STANDARD</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">10 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>400 PLN</p>
            </div>
        </div>
        <div class="card card1">
            <img class="card-img-top" src="/images/cennik-sesji-premium.jpg" alt="Cennik sesji premium">
            <div class="card-body">
                <h4 class="card-title">Pakiet PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">15 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>500 PLN</p>
            </div>
        </div>
    </div>

    <!-- <div class="container my-4 d-flex justify-content-center">
        <img src="images/line.png" alt="">
    </div> -->
    <div class="fade_rule"></div>
    <div class = "container">
        <h1 class="card-text pricingHeader">Sesja noworodkowa</h1>
    </div>
    <div class="fade_rule"></div>

    <div id="switch-cont2">
        <button class="switch-button switch-selected text-center"> MINI</button>
        <button class="switch-button text-center">STANDARD</button>
        <button class="switch-button text-center">PREMIUM</button>
    </div>
    <div class="container d-flex my-3 pricingRow">
        <div class="card card2 pricing-selected">
            <img class="card-img-top" src="/images/cennik-sesji-noworodkowej-mini.jpg" alt="Cennik sesji mini">
            <div class="card-body">
                <h4 class="card-title">Pakiet MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">5 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>350 PLN</p>
            </div>
        </div>
        <div class="card card2">
            <img class="card-img-top" src="/images/cennik-sesji-noworodkowej-standard.jpg" alt="Cennik sesji standard">
            <div class="card-body">
                <h4 class="card-title">Pakiet STANDARD</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">10 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>500 PLN</p>
            </div>
        </div>
        <div class="card card2">
            <img class="card-img-top" src="/images/cennik-sesji-noworodkowej-premium.jpg" alt="Cennik sesji premium">
            <div class="card-body">
                <h4 class="card-title">Pakiet PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">15 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>650 PLN</p>
            </div>
        </div>
    </div>
    <br>
    <div class="fade_rule"></div>
    <div class="card-body">
        <h6 id="coWchodziWSklad">Co wchodzi w cenę sesji? </h6>
        <p class="card-text"> Sesja zdjęciowa to nie tylko czas, który spędzimy razem w studio. To również praca włożona opracowanie koncepcji sesji, przygotowanie studia oraz stylizacji i rekwizytów. To godziny spędzone na starannym retuszu, zamawianie wydruków i przygotowanie zdjęć do przekazania.</p>
        <p class="card-text">Czy kilkaset złotych za profesjonalną sesję to dużo? Jeśli weźmiemy pod uwagę powyższe czynniki plus odbyte szkolenia, sprzęt oraz czynsz za studio okazuje się, że nie. Wybierając fotografa nie kierujcie się wyłącznie ceną, bo nie każda osoba, która posiada aparat jest fotografem &#128521 </p>
    </div>

    <script src="/javascripts/pricing.js"></script>