<% layout('layouts/boilerplate')%>
<<<<<<< HEAD
    <div class="container my-3">
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
=======
    <div class="container my-3" id="carousel">
        <div class="carousel slide carousel-fade" data-bs-ride="carousel">
>>>>>>> altStyles
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="/images/carousel1.jpg" class="d-block w-100" alt="carousel-photo-1">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/images/carousel2.jpg" class="d-block w-100" alt="carousel-photo-2">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/images/carousel3.jpg" class="d-block w-100" alt="carousel-photo-3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Poprzednie</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Następne</span>
            </button>
        </div>
    </div>