<% layout('layouts/boilerplate')%>
    <div class="container my-3">
        <div id="carousel" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="https://res.cloudinary.com/dqcadja0y/image/upload/v1621420335/KarolinaPhoto/Carousel/IMG_1293-1_wtl0p3.jpg"
                        class="d-block w-100" alt="carousel-photo-1">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://res.cloudinary.com/dqcadja0y/image/upload/v1621420624/KarolinaPhoto/Carousel/Alek_fjrl9z.jpg"
                        class="d-block w-100" alt="carousel-photo-2">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="https://res.cloudinary.com/dqcadja0y/image/upload/v1621420378/KarolinaPhoto/Carousel/Majazmama_u7x7ab.jpg"
                        class="d-block w-100" alt="carousel-photo-3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Poprzednie</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Następne</span>
            </button>
        </div>
    </div>