<% layout('layouts/boilerplate')%>

    <div class="container">
        <div id="carousel" class="carousel slide carousel-fade my-0" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active  img-fluid" id="carouselItem">
                    <img src="/images/photo1.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item img-fluid" id="carouselItem">
                    <img src="/images/photo2.jpeg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item img-fluid" id="carouselItem">
                    <img src="/images/photo3.jpeg" class="d-block w-100" alt="...">
                </div>
            </div>
        </div>
    </div>