<% layout('layouts/boilerplate')%>

    <main class="container my-4 px-5" id="carousel">
        <div id="carousel-home" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="3000">
                    <img src="/images/photo1.jpeg" class="d-block w-100" alt="carousel-photo-1">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/images/photo2.jpeg" class="d-block w-100" alt="carousel-photo-2">
                </div>
                <div class="carousel-item" data-bs-interval="3000">
                    <img src="/images/photo3.jpeg" class="d-block w-100" alt="carousel-photo-3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel-home" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel-home" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </main>