<% layout('layouts/boilerplate')%>

    <div class="container-fluid my-3" id="contact">
        <div class="row">
            <div class="col-xs-12 col-md-6 p-0">
                <div id='map'></div>
            </div>
            <div class="col-xs-12 col-md-6">
                <header class="card-title mt-3"><h5>Zapraszam do kontaktu!</h5></header>
                <p class="card-text mb-3">Moje studio zlokalizowane jest w Bielsku-Białej przy ulicy 11 Listopada 60/62 na trzecim piętrze zabytkowej Kamienicy pod Orłem. Zaraz przed wejściem do budynku znajduje się parking na Placu Wolności, a na piętro można wyjechać windą.</p>
                <p class="card-text mb-3">Od wiosny do jesieni realizuję również plenerowe sesje zdjęciowe w Bielsku-Białej oraz okolicach m.in. pięknym parku w Pszczynie czy Ogrodach Kapias. Plener zawsze dopasowuję do charakteru sesji i Państwa oczekiwań.</p>
                <div class="fade_rule mb-2"></div>
                <div><img src="images/phone-vibrate.svg"> +48 576 579 446</div>
                <div><img src="images/mailbox.svg"> <a href="">studio @ karolinapastuszak.pl</a></div>
                <div><img src="images/instagram.svg"> <a href="https://m.me/karolinapastuszakphotography">@karolinapastuszak.pl</a></div>
                    <p>Numer konta: <br>
                        72 1050 1070 1000 0097 4643 4753 (ING)<br>
                    Karolina Pastuszak</p>
            </div>
        </div>
    </div>
    <script src="/javascripts/contactPageMap.js"></script>