<% layout('layouts/boilerplate')%>
    <div id="switch-cont">
        <button class="switch-button switch-selected text-center">MINI</button>
        <button class="switch-button text-center">STANDARD</button>
        <button class="switch-button text-center">PREMIUM</button>
    </div>
    <div class="container d-flex my-3">
        <div class="card pricing-selected">
            <img class="card-img-top" src="/images/pricing1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">10 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>250 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet STANDARD</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>400 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>550 PLN</p>
            </div>
        </div>
    </div>
    <script src="/javascripts/pricing.js"></script>