<% layout('layouts/boilerplate')%>

    <div class="panel">
        <div class="photo-package">
            <h2 class="package-header">Pakiet MINI</h2>
            <img src="/images/photo1.jpeg" alt="" class="pricing-img img-fluid">
            <ul class="package-features">
                <li class="package-features-item">
                    <p>10 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w formie
                        wydruków w formacie 15x21</p>
                </li>
                <li class="package-features-item">czas sesji do 45 minut</li>
            </ul>
            <span class="package-price">275 PLN</span>
        </div>

        <div class="photo-package">
            <h2 class="package-header">Pakiet STANDARD</h2>
            <img src="/images/photo2.jpeg" alt="" class="pricing-img img-fluid">
            <ul class="package-features">
                <li class="package-features-item">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie
                    elektronicznej oraz w formie wydruków w formacie 15x21</li>
                <li class="package-features-item">czas sesji do 1,5 godziny</li>
            </ul>
            <span class="package-price">400 PLN</span>
        </div>

        <div class="photo-package">
            <h2 class="package-header">Pakiet PREMIUM</h2>
            <img src="/images/photo3.jpeg" alt="" class="pricing-img img-fluid">
            <ul class="package-features">
                <li class="package-features-item">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie
                    elektronicznej oraz w formie wydruków w formacie 15x21</li>
                <li class="package-features-item">czas sesji do 2,5 godziny</li>
            </ul>
            <span class="package-price">550 PLN</span>
        </div>

    </div>