<% layout('layouts/boilerplate')%>

    <div class="container d-flex my-3">
        <div class="card">
            <img class="card-img-top" src="/images/photo1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">10 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>275 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/photo1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet STANDARD</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>400 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/photo1.jpeg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>550 PLN</p>
            </div>
        </div>
    </div>

    <!-- <div class="panel">
        <div class="photo-package">
            <h2 class="package-header">Pakiet MINI</h2>
            <img src="/images/photo1.jpeg" alt="" class="pricing-img img-fluid">
            <ul class="package-features">
                <li class="package-features-item">10 zdjęć poddanych profesjonalnej obróbce przesłane w formie
                    elektronicznej oraz w formie wydruków w formacie 15x21
                </li>
                <li class="package-features-item">czas sesji do <span> 45 minut </span></li>
            </ul>
            <p class="package-price">275 PLN</p>
        </div>

        <div class="photo-package">
            <h2 class="package-header">Pakiet STANDARD</h2>
            <img src="/images/photo2.jpeg" alt="" class="pricing-img img-fluid">
            <ul class="package-features">
                <li class="package-features-item">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie
                    elektronicznej oraz w formie wydruków w formacie 15x21</li>
                <li class="package-features-item">czas sesji do <span> 1,5 godziny </span></li>
            </ul>
            <p class="package-price">400 PLN</p>
        </div>

        <div class="photo-package">
            <h2 class="package-header">Pakiet PREMIUM</h2>
            <img src="/images/photo3.jpeg" alt="" class="pricing-img img-fluid">
            <ul class="package-features">
                <li class="package-features-item">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie
                    elektronicznej oraz w formie wydruków w formacie 15x21</li>
                <li class="package-features-item">czas sesji do <span> 2,5 godziny </span></li>
            </ul>
            <p class="package-price">550 PLN</p>
        </div>

    </div> -->