<% layout('layouts/boilerplate')%>
    <div id="switch-cont">
        <button class="switch-button switch-selected text-center">MINI</button>
        <button class="switch-button text-center">STANDARD</button>
        <button class="switch-button text-center">PREMIUM</button>
    </div>
    <div class="container d-flex">
        <p> <p class="card-text">Sesja dziecięca – o co warto zadbać przed rozpoczęciem zdjęć? Oczywiście o dobry nastrój małego modela! Maluszek powinien być wypoczęty i nakarmiony, tak aby czerpał radość z sesji i dobrze się bawił. Ja zadbam o to aby atmosfera podczas sesji była luźna i przyjazna, dobiorę rekwizyty które zaciekawią dziecko.</p></p>
    </div>
    <div class="container d-flex my-3 pricingRow">

        <div class="card pricing-selected">
            <img class="card-img-top" src="/images/pricing1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">10 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>300 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet STANDARD</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>400 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing3.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 2,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>500 PLN</p>
            </div>
        </div>
    </div>

    <div class="my-5" style="display: flex; justify-content: center;">
        <img src="images/line.png" alt="">
    </div>

    <div id="switch-cont">
        <button class="switch-button switch-selected text-center">ŚLUBNY MINI</button>
        <button class="switch-button text-center">ŚLUBNY MAXI</button>
    </div>
    <div class="container d-flex my-3 pricingRow">
        <div class="card pricing-selected">
            <img class="card-img-top" src="/images/pricing1.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet ślubny MINI</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">20 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 45 minut </span></p>
            </div>
            <div class="card-footer">
                <p>700 PLN</p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="/images/pricing2.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Pakiet ślubny PREMIUM</h4>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <p class="card-text">30 zdjęć poddanych profesjonalnej obróbce przesłane w formie elektronicznej oraz w
                    formie wydruków w formacie 15x21</p>
                <div class="fade_rule"></div>
                <p class="card-text">czas sesji do <span> 1,5 godziny </span></p>
            </div>
            <div class="card-footer">
                <p>1000 PLN</p>
            </div>
        </div>
        
    </div>

    <div class="card col-md-8 col-xs-12 mb-3">
        <header class="card-title">Co wchodzi w cenę sesji?</header>
        <div class="fade_rule"></div>
        <div class="fade_rule mb-3"></div>
        <div class="card-body">
            <p>Sesja zdjęciowa to nie tylko czas, który spędzimy razem w studio. To również moja praca włożona w przygotowanie studia do konkretnej sesji oraz przygotowanie stylizacji. Po sesji następuje selekcja zdjęć i wgrywanie ich do aplikacji, za pomocą której będą Państwo mieli możliwość podglądu i wyboru konkretnych fotografii. Później zdjęcia poddane są starannej obróbce graficznej i rozpoczyna się proces ich przekazania – najpierw w formie elektronicznej poprzez aplikację, następnie w formie drukowanej jak tylko wrócą z laboratorium fotograficznego. Zdjęcia pakuję w efektowne koperty i pudełka i kontaktuję się z Państwem w celu ustalenia terminu odbioru.</p>
        </div>
    </div>
    <script src="/javascripts/pricing.js"></script>