<% layout('layouts/boilerplate') %>

    <div class="container-fluid my-3">
        <div class="row justify-content-center">
            <div class="card col-md-8 col-xs-12 mb-3" id="beforePS">
                <img src="/images/fotograf-bielsko.jpg" class="card-img-top img-fluid" alt="Przygotowanie do sesji zdjęciowej" id="beforePSimg">
                <h1 class="card-title">Jak się przygotować?</h1>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja dziecięca</h6>
                    <p><a href="/dzieci">Sesja dziecięca</a> – o co warto zadbać przed rozpoczęciem zdjęć? Oczywiście o dobry nastrój małego modela! Maluszek powinien być wypoczęty i nakarmiony, tak aby czerpał radość z sesji i dobrze się bawił. Ja zadbam o to, aby atmosfera podczas sesji była luźna i przyjazna, dobiorę rekwizyty, które zaciekawią dziecko.</p>
                    <p> Taką sesję można zaplanować jako stylizowaną lub naturalną. Posiadam różne
                        rekwizyty, ale to oczywiście Państwo zdecydują o charakterze zdjęć. Jeśli chodzi o ubranie, to
                        warto wystrzegać się wszelkiego rodzaju nadruków i aplikacji, ponieważ odciągają uwagę od
                        maluszka. </p>
                </div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja noworodkowa</h6>
                    <p>Jestem dyplomowanym <a href="/noworodki">fotografem noworodkowym</a>, a także mamą dwóch małych chłopców. Mogą być Państwo pewni, że powierzone mi Maleństwo będzie całkowicie bezpieczne i zadbam o jego dobre samopoczucie </p>
                    <p><strong>Na sesję noworodkową warto umówić się z wyprzedzeniem, jeszcze przed porodem. Jej termin można w razie czego przesunąć.</strong></p>
                    <p>O co warto zadbać przed rozpoczęciem zdjęć? </p>
                    <p>Trzeba się przygotować na to, że zdjęcia noworodkowe mogą długo trwać i warto sobie zarezerwować więcej czasu. Niektóre maluszki prześpią całą sesję i po godzinie idą do domu. Inne wymagają więcej czasu, zwłaszcza jeśli mają problemy z brzuszkiem (to zdarza się np. podczas suplementacji żelazem). Fakt jest taki, że kilkudniowy dzidziuś jest podczas sesji szefem i to on decyduje kiedy robimy zdjęcia, a kiedy jest czas na przytulanie z mamą i karmienie. </p>
                    <p>Sesje noworodkowe przeprowadzam maksymalnie do 21 dnia życia. Im dziecko jest młodsze tym więcej śpi, jest bardziej elastyczne i jest mniejsza szansa na wystąpienie bolesnej kolki, która pogorszy jego samopoczucie.</p>
                    <p>Na sesję proszę zabrać:</p>
                    <p>
                        <ul>
                            <li>smoczek, nawet jeśli go nie używa,</li>
                            <li>pieluszki jednorazowe ok 20 szt.,</li>
                            <li>pieluszki tetrowe,</li>
                            <li>kocyk, którego używa (tylko gładki, tak żeby splot nie odcisnął się na skórze)</li>
                            <li>zapas mleka</li>
                        </ul>
                    </p>
                    <p><strong>Sesja noworodkowa z rodzicami i rodzeństwem:</strong></p>
                    <p>Cała rodzina powinna być ubrana w podobnej kolorystyce i stylu. Najlepiej unikać wzorów i aplikacji, świetnie sprawdzają się gładkie, jednolite materiały.</p>
                    <p><strong>Jakie zdjęcia noworodkowe wykonuję?</strong></p>
                    <p>Posiadam wiele rekwizytów – miniaturowe łóżeczka, foteliki, koszyki, a także profesjonalny stół do pozycjonowania. Zarówno dla dziewczynek jak i dla chłopców mam przygotowane różne outfity – od ubranek po owijki. Wykonuję również zdjęcia w stylu lifestyle – to właśnie one ukazują bliskość i więź, jaka zrodziła się pomiędzy rodzicami i Maluszkiem.</p>
                </div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja ciążowa/ brzuszkowa</h6>
                    <p> <a href="/brzuszkowe">Sesję ciążową</a> najlepiej jest zrealizować, kiedy brzuszek jest już bardzo wyraźnie
                        zarysowany. Wystrzegamy się nadruków i aplikacji na ubraniach, ponieważ niepotrzebnie odwracają
                        uwagę od mamy i głównego bohatera lub bohaterki sesji &#128521. Natomiast przydadzą się
                        wszelkiego rodzaju gadżety takie jak malutkie skarpeteczki lub buciki, bodziaki, zdjęcia USG,
                        pluszaki, które czekają na maleństwo. W sesji ciążowej może uczestniczyć nie tylko przyszła
                        mama, ale również tata i rodzeństwo maluszka. </p>
                    <p>W przypadku zdjęć rodzinnych proszę zwrócić uwagę na outfity – styl i kolorystyka powinny być spójne</p>
                    <p>Przyszła mama może również skorzystać podczas sesji z efektownych sukni ciążowych, które posiadam. Są bardzo kobiece, dostępne w różnych kolorach.</p>
                    <p>Jeśli przyszła mama chciałaby skorzystać z usług profesjonalnej wizażystki to jest taka możliwość. Współpracuję w tej kwestii z Anną Bier (<a href="https://www.instagram.com/aniabier_mua/">link</a>), która perfekcyjnie dobierze make-up do urody i stylu sesji.</p>     
                </div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h6>Sesja rodzinna</h6>
                    <p> Ten rodzaj sesji wymaga wcześniejszego przemyślenia i przygotowania. Zawsze pytam klientów o to jakie mają oczekiwania – <a href="/rodzinne">sesję rodzinną</a> możemy zorganizować w studio lub w plenerze. W parku lub na starówce. W formie pikniku lub na sportowo. Wszystko zależy od tego jaki ma być charakter zdjęć. Jeśli jesteście rodziną muzykującą możemy zrobić sesję z instrumentami, jeśli jeździcie konno możemy zrobić sesję jeździecką. Tylko wyobraźnia nas ogranicza  &#128521 </p>
                    <p> Kolejny krok to wybór odpowiedniej garderoby. Proszę zwrócić uwagę na to, aby styl całej rodziny był spójny – nie chodzi tylko o kolorystykę. Rezygnujemy z aplikacji i nadruków, ponieważ odciągają uwagę. </p>
                </div>
                <div class="fade_rule"></div>
                <div class="fade_rule"></div>
                <div class="card-body">
                    <h2 class="card-title">Informacje dodatkowe</h2>
                    <ul>
                        <li> przed sesją niezbędne jest podpisanie umowy</li>
                        <li> obowiązuje bezzwrotna opłata rezerwacyjna 50zł wpłacana na konto bankowe pakietu</li>
                        <li> płatności – pozostałą opłatę należy uiścić w dniu sesji przed jej rozpoczęciem</li>
                        <li> każde dodatkowe ujęcie wykraczające poza pakiet to koszt 20zł</li>
                        <li> sesja w niedzielę to koszt pakietu + 100zł</li>
                        <li> podczas sesji nie ma możliwość robienia własnych zdjęć</li>
                        <li> nie przekazuję zdjęć, których Państwo nie wybrali</li>
                        <li> zastrzegam sobie prawo do autorskiej obróbki</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>