<% layout('layouts/boilerplate') %>

<main class="container-fluid my-3">
    <div class="row justify-content-center">
        <div class="card col-md-8 col-xs-12 mb-3" id="beforePS">
            <header class="card-title">Moje studio fotogrficzne</header>
            <div class="fade_rule"></div>
            <div class="fade_rule mb-3"></div>
            <div class="card-body">
                <p>Moje studio zlokalizowane jest w zabytkowej Kamienicy pod Orłem w Bielsku-Białej. Istotną informacją dla rodziców noworodków jest to, że zaraz przed wejściem do kamienicy znajduje się parking na Placu Wolności, a na piętro można wyjechać windą &#128521 </p>
                <p>Studio jest profesjonalnie wyposażone i przystosowane do różnego rodzaju sesji – noworodkowych, ciążowych, kobiecych, rodzinnych, wizerunkowych. </p>
                <p>Posiadam wiele rekwizytów i podążam za najnowszymi trendami tak, aby sprostać Państwa oczekiwaniom. Dbam o detale, zarówno jeśli chodzi o scenografię jak i o wygląd Klientów w trakcie robienia zdjęć (ja najlepiej widzę wystające ramiączko czy odstające kosmyki włosów).</p>
            </div>
            <br>
            <div class="fade_rule mb-4"></div>
                <div class="card-body">
                    <h6 id="sesjaPlenerowa">Plenerowa sesja zdjęciowa</h6>
                    <p class="card-text"> Od wiosny do jesieni często pracuję w plenerze. Takie sesje są wyjątkowo nie tylko dlatego, że są bardziej spontaniczne, ale przede wszystkim dlatego, że wyzwalają naturalne emocje. Pozwalają na luźniejszą atmosferę i dobrą zabawę. Wykonywanie zdjęć w plenerze otwiera przed fotografem dodatkowe możliwości, zwłaszcza w przypadku małych dzieci, które nie zawsze chcą współpracować. Co więcej każde zdjęcie jest inne i opowiada swój fragment historii.</p>
                <p>Zapraszam do zapoznania się z moim <a href="/brzuszkowe">portfolio</a> i do <a href="/kontakt">kontaktu</a>.</p>
                </div> 
        </div>
    </div>
</main>