<% layout('layouts/boilerplate')%>

    <div class="container d-flex py-2">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6 p-0">
                <div class="card-body px-4 pb-1">
                    <h1 class="card-title">Voucher na prezenet</h1>
                    <div class="fade_rule"></div>
                    <br>
                    <p>Bon podarunkowy to wyjątkowy pomysł na prezent. Idealnie sprawdzi się z okazji
                        rocznicy ślubu, urodzin, czy zaręczyn. <br> To prezent, który na zawsze pozostanie w pamięci
                        osoby obdarowanej. Czasu nie da się zatrzymać, ale dzięki zdjęciom możemy utrwalić ważne dla nas
                        chwile i wracać do nich, kiedy tylko będziemy mieć na to ochotę.<br>
                        <br> W celu wykupienia vouchera proszę o wybór <a href="/cennik">pakietu</a> i <a href="/kontakt">kontakt</a>.<br></p>
                    <p>Informacje:</p>
                    <ul>
                        <li>bony przekazuję w formie elektronicznej lub drukowanej</li>
                        <li>miejsce sesji to Bielsko-Biała</li>
                        <li>voucher nie podlega wymianie na gotówkę</li>
                        <li>każde ujęcie wykraczające poza pakiet jest dodatkowo płatne</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 p-0">
                <img src="/images/voucher.jpg" alt="Voucher na sesję zdjęciową" class="img-fluid">
            </div>
        </div>
    </div>