<% layout('layouts/boilerplate')%>

    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <h2 class="pshoot-header">Sesja komunijna</h2>
            </div>
           
            <div>
                <% if(currentUser) { %>
                    <a class="btn btn-warning" href="/sesja-komunijna/new">Dodaj zdjęcie</a>
                    <% } %>
            </div>
        </div>
        <div class="fade_rule"></div>
        <br>
        <p class="card-text shootIntro">Komunia Święta to bardzo wyjątkowe wydarzenie zarówno dla dzieci jak i dla ich rodziców. Tak uroczyste chwile zdecydowanie warto uwiecznić na zdjęciach</p>    
        <p class="card-text shootIntro">Na sesję komunijną możemy się umówić już w dniu uroczystości lub w innym dogodnym dla Państwa terminie. Wybór terminu nie jest tutaj bez znaczenia, ponieważ od niego zależy charakter sesji. Dlaczego?</p>    
        <p class="card-text shootIntro">W dniu uroczystości najlepiej sprawdzą się zdjęcia reportażowe (uchwycenie przygotowań, zdjęcia przed kościołem, z gośćmi). Są to fotografie bardziej spontaniczne, dokumentujące tę ważną chwilę.</p>    
        <p class="card-text shootIntro">Natomiast jeśli zależy Państwu bardziej na zdjęciach portretowych, zdecydowanie powinniśmy umówić się na inny dzień. Warto pamiętać o tym, że sesja zdjęciowa jest dla dziecka czymś nowym i dobrze jest dać mu czas na oswojenie się z aparatem. Sesja komunijna w plenerze lub w studio sprawi, że dziecko będzie się dobrze bawić i uwolni swoje emocje – to naprawdę widać na zdjęciach &#128521</p>    

        <div class="container">
            <div class="row justify-content-start">
                <% for (let comm of communions) { %>
                    <div class="col-xs-12 col-md-6 px-2 py-2">
                        <div class="pshoot-card card mb-3">
                            <div class="card-body p-0">
                                <% if(currentUser) { %>
                                <a href="sesja-komunijna/<%=comm._id%>">link</a>
                                <% } %>
                                <div>
                                    <% if(comm.images.length) {%>
                                        <img class="card-img-top" src="<%= comm.images[0].url %>" alt="card-img"
                                            id="pshoot-img">
                                        <% } else {%>
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/dqcadja0y/image/upload/v1617459271/sample.jpg"
                                                alt="card-img" id="pshoot-img">
                                            <% } %>
                                               
                                </div>
                                    
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>