#about-me-text {
    line-height: 1.5;
    text-align: justify;
    background-color:rgb(255, 255, 255)
}

#about-me-photo {
    max-width: 400px;
    padding: 0;
}

@media (max-width:768px) { 
    #about-me-photo, #about-me-text  {
        max-width: 80%;
    }

}