#aboutMeText {
    line-height: 1.5;
    text-align: justify;
    background-color:rgb(255, 255, 255);
    padding-right: 20px;
}

#aboutMePhoto {
    max-width: 400px;
    padding: 0;
}

@media (max-width:768px) { 
    #aboutMePhoto, #aboutMeText  {
        max-width: 80%;
    }

}