/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

body {
  background-color: #f8edeb;
  margin: 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  opacity: 0;
  animation: fadeIn 0.5s;
  transition: opacity 0.5s;
}

main {
  align-items: center;
  margin: 3% 20%;
  max-width: 80%;
}

.navbar,
.footer {
  background-color: #fae1dd;
  color: rgba(0, 0, 0, 0.5);
  box-shadow: 10px 5px 5px rgba(202, 178, 174, 0.5);
  padding-top: 0;
  text-align: center;
}

#mainNav {
  display: flex;
  align-items:flex-end;
  justify-content: center;
  margin: 0 auto;
}

.nav-item {
  /* display: flex; */
  text-align: center;
  margin: 0 1em;
  /* width: auto; */
  font-size: 1.2rem;
  border: 1px solid black;
  /* align-items: flex-end;
  text-size-adjust: auto; */
}

/* .navbar-nav {
  display: flex;
  justify-content: space-evenly;
} */

#logo {
  max-height: 100px;
  min-width: 200px;
  /* min-width: 200px; */
  /* margin: 0 5%; */
  padding-bottom: 0;
  /* position: relative; */
  top: 0.4rem;
}

#mainNav a:hover,
#socialIcons a:hover,
.loginButton a:hover {
  color: white;
  text-shadow: 5px 5px 10px white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.dropdown-menu {
  border-radius: 0.5rem;
  background-color: rgba(250, 225, 221, 0.9);
}

.dropdown-item:hover {
  background-color: transparent;
}

#socialIcons {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
}

#socialIcons a,
#kidsPshoot {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  display: inline;
  margin-right: 0.5rem;
}

.fade_rule {
  height: 1px;
  background-color: #e6e6e6;
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, rgb(250, 182, 170)),
    color-stop(0.98, white)
  );
}

/* #carousel {
  width: 100vw;
  height: 100vh;
} */

/* @media (max-width: 1200px) {
  .nav-item,
  .dropdown-item,
  #aboutMeText,
  p,
  li {
    font-size: 0.9rem;
  }
} */



/* 
@media (max-width:1400px) {
    .nav-item, .dropdown-item, #aboutMeText, p, li, h5 {
        font-size: 1rem;
}

}
@media (max-width:1200px) {
    .nav-item, .dropdown-item, #aboutMeText, p, li, h5 {
        font-size: 0.9rem;
}
}

@media (max-width:992px) {
    .nav-item, .dropdown-item, #aboutMeText, p, li, h5 {
        font-size: 0.8rem;
}


}

@media (max-width:768px) {
    .nav-item, .dropdown-item, #navbarDropdownMenuLink, p, li {
        font-size: 0.7rem;
        margin-left: 0;
        text-align: left;
        min-width: 100px;
}

#mainNav {
    position:unset;
}

.navbar-nav {
margin-top: 0.7rem;
margin-left: 1rem;
background-image: url("/images/logoKP-trans.png");
background-size: 50%;
background-position: right 15% bottom 70%;
background-repeat: no-repeat;


}
.navbar-brand {
    display: none;
}

.dropdown-item {
    min-width: auto;
}

#portfolio {
    align-self: flex-start;
}
#about-me-text {
    font-size: 0.7rem;
    text-align: justify;
    margin-top: 1rem;
    max-width: 400px;
}

#about-me-photo {
    max-width: 400px;
}

#about-me, #contact-page, #voucher-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#voucher-card {
    flex-direction: row;
}

} */

/* #pshoot-img {
    min-width: 360px;
    min-height: 240px;
} */

#pshoot-header {
  color: rgba(0, 0, 0, 0.6);
  font-weight: lighter;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  /* vertical-align: center; */
}

#logoutButton {
  border: 1px solid rgb(168, 168, 168);
  padding: 3px 10px;
  margin-right: 10px;
  font-size: 0.9rem;
}

.loginButton a {
  color: #fae1dd;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.loginButton {
  position: absolute;
  left: 95%;
}

#alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
