/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */

body {
  /* background-color: #f8edeb; */
  background-image: url('/images/background.png');
  background-repeat: repeat;
  /* background-size: contain; */
  background-position: top;
  font-family: "Quicksand", sans-serif;
}

/* navbar & footer  */
.pixel {
  display:none;
}

.navbar,
#footer {
  background-color: #fae1dd;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.1rem;
  box-shadow: 10px 5px 5px rgba(202, 178, 174, 0.5);
}


.nav-item {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 20px;
}
.navbar-brand{
display: none;
}

#logo {
  width: 260px;
}

#logoZnak {
  max-width: 50px;
}

.dropdown-menu {
  border-radius: 10px;
  background-color: rgba(250, 225, 221, 0.9);
}

.dropdown {
  padding-left: 0 !important;
}

/* facebook and instagram */

#socialIcons {
  position: absolute;
  top: 10px;
  right: 10px;
}

#socialIcons a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
  margin-right: 15px;
}

#navbarNav a:hover,
#socialIcons a:hover,
#loginButton a:hover,
#footer a:hover {
  color: white;
  text-shadow: 5px 5px 10px white;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  background-color: transparent;
}

/* horizontal line */

.fade_rule {
  height: 1px;
  background-color: #e6e6e6;
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -o-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -moz-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -webkit-linear-gradient(
    left,
    white 2%,
    #e6e6e6 50%,
    white 98%
  );
  background-image: -ms-linear-gradient(left, white 2%, #e6e6e6 50%, white 98%);
  background-image: -webkit-gradient(
    linear,
    left bottom,
    right bottom,
    color-stop(0.02, white),
    color-stop(0.5, rgb(250, 182, 170)),
    color-stop(0.98, white)
  );
}

/* user access icons */

#logoutButton {
  border: 1px solid rgb(168, 168, 168);
}

#loginButton {
  position: absolute;
  left: 95%;
}

#loginButton a {
  color: #fae1dd;
}

#alert {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* home page  */

.mainPage {
  max-width: 60%;
  display: flexbox;
  flex-direction: column;
  justify-content: center;
}

#mainPageHeader {
display:flex;
justify-content: center;
margin: 20px 0px;
color: rgba(0, 0, 0, 0.5);
font-family: 'Alex Brush', cursive;
text-align: center;
}

/* o mnie */

#aboutMeText {
  line-height: 1.5;
  text-align: justify;
  background-color:rgb(255, 255, 255);
  padding-right: 20px;
}

.footerCol {
  line-height: 1.3rem;
  font-size: .9rem;
}

.footerCol li {
  list-style-type: none;
}

.footerCol li:first-child {
  font-weight: 800;
  margin-bottom: 5px;
  font-size: .9rem;
}

#footer hr {
  display: none;
}


#aboutMePhoto {
  padding: 0;
}

.horizontalLine {
  display: flex; 
  justify-content: center;
}

#footerLogo {
  width: 200px;
}

/* @media */

@media (max-width:992px) {
  .nav-item, .dropdown-item {
    font-size: 0.95rem;
  }

  .mainPage {
    max-width: 75%;
  }
}

@media (max-width:768px) {
  
  #dropdown { 
    position: absolute;
    top: 10px;
    left:100px;
  }

  #logoMale{
    margin-top:10px;
    color: rgba(0, 0, 0, 0.5);
  }

  .footerHr {
    display: block;
  }

  /* #aboutMePhoto, #aboutMeText  {
    max-width: 80%;
  } */

  .mainPage {
    max-width: 100%;
  }

  .nav-item {
    padding: 0.3em;
    margin-left: 0;
  }

  .navbar-nav li {
    display: flex;
    align-items: start;
    justify-content: left;
    text-align: left;
  }

  #logo {
    display: none;
  }

  .navbar-brand {
    display: inline;
    position:absolute;
    top:10px;
    left: 50%;
   
    transform: translateX(-50%);
    font-family: 'Alex Brush', cursive;
    align-content: end;
  }

  .mainPage {
    width: 90%;
  }

  /* #logo {
    display:flex;
    max-width: 100px;
    position: fixed;
    justify-content: center;
    top: 10px;
  } */
  
}

@media (max-width:500px) {
 #logoMale {
   display: none;
 }
  
}
