.pshoot-header {
  font-family: "Allura", cursive;
  color: rgba(0, 0, 0, 0.6);
}

.pshoot-header2 {
  font-family: "Allura", cursive;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
}

.pshoot-card {
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.2);
  /* transition: 0.4s; */
}

.pshoot-card a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.card-text {
  text-align: center;
}

/* .pshoot-card:hover {
  transform: scale(1.03);
} */

.gallery img {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0.6rem;
  width: 80%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.4s;
}

#gallery-modal .modal-img {
  width: 100%;
}

/* .gallery img:hover {
  transform: scale(1.01);
} */

.shootIntro {
  text-align: justify;
}

.wielkanocna_kontakt {
  font-size: 1.3rem;
  text-align: center;
  margin-top: 20px;
}

.wielkanocna_kontakt a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}

.card-draggable {
  max-width: 150px;
display: flex;
flex-direction: column;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }
