.pshoot-header {
  font-family: "Allura", cursive;
  color: rgba(0, 0, 0, 0.6);
}

.portfolioGallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
  padding: 0;
  max-height: 6000px;
}

.portfolioGallery img {
  width: 32%;
  padding-bottom: 10px;
}


.shootIntro p {
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}

.card-draggable {
  max-width: 150px;
display: flex;
flex-direction: column;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }

@media screen and (min-width: 993px) {
  .portfolioGallery {
    width: 936px;
  }
}

@media screen and (max-width: 992px) {
  .portfolioGallery {
    width: 736px;
  }
}