.pshoot-header {
  font-family: "Allura", cursive;
  color: rgba(0, 0, 0, 0.6);
}

.portfolioGallery {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolioGallery img {
  width: 100%;
}





.shootIntro {
  text-align: justify;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.5);
}

.draggable {
  cursor: move;
}

.draggable.dragging {
  opacity: .5;
}

.card-draggable {
  max-width: 150px;
display: flex;
flex-direction: column;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 450px; }
#sortable li { margin: 3px 3px 3px 0; padding: 1px; float: left; width: 100px; height: 90px; font-size: 4em; text-align: center; }
