
.card {
  background-color: rgb(255, 255, 255, 0.6);
  color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  margin: 0 0.7rem;
  box-shadow: 0px 2px 15px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h4 {
  font-size: 1.2em;
}

.card-text {
  margin-top: 0.5rem;
}

.card-text span {
  font-weight: 600;
}

.card-footer {
  background-color: white;
}

.card-footer p {
  font-size: 1.4em;
  margin-bottom: 0;
}

#switch-cont {
  display: none;
  width: 100%;
  min-width: 270px;
  text-align: center;
  margin: 30px auto;
  position: relative;
}
#switch-cont button {
  display: inline-block;
  width: 25%;
  max-width: 100px;
  min-width: 80px;
  margin: 0 0.5%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: white;
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.7);;
}
#switch-cont button.switch-selected {
  background: #fae1dd;
  color: white;
}
#switch-cont button:focus {
  outline: none;
}
#switch-cont button:hover {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7);;
}
#switch-cont button:not(.switch-selected):hover {
  background: #eee;
}


@media (max-width: 750px) {
  #switch-cont {
    display: block;
  }

  .card {
    width: 100%;
    display: none;
    margin: auto;
  }
  .card.pricing-selected {
    display: block;
  }
}

/* .card-img-top {
  max-height: 200px;
} */

/* .panel {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.photo-package {
  border-right: 1px solid #fae1dd;
  margin-left: 5px;
}
.photo-package:last-child {
  border-bottom: none;
  border-right: none;
}

.pricing-img {
  margin-bottom:0;
  margin-top:1rem;
  max-width: 250px;
}

.package-header {
  color: rgba(0, 0, 0, 0.700);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.package-features {
  margin: 5px 0 25px;
  color: rgba(0,0,0, 0.5);
}

.package-features-item {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #fae1dd;
}

.package-features-item:last-child{
  border-bottom: 1px solid #fae1dd;
}


@media (min-width: 992px){
  .panel {
    flex-direction: row;
  }
  .package-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .package-plan:last-child {
    border-right: none;
  }

  .package-features-item {
    font-size: 0.8rem;
  }

}



.package-price {
  color: rgba(0,0,0, 0.5); 
  display: block;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.photo-package span {
  font-weight: 800;
}

.photo-package li {
  text-align: center;
} */