/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
} */

body {
    background-color: #f8edeb;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

.panel {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.photo-package {
  /* border-bottom: 1px solid #fae1dd; */
  border-right: 1px solid #fae1dd;
  margin-left: 5px;
}
.photo-package:last-child {
  border-bottom: none;
  border-right: none;
}

.pricing-img {
  margin-bottom:0;
  margin-top:1rem;
  max-width: 250px;
}

.package-header {
  color: rgba(0, 0, 0, 0.700);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.package-features {
  margin: 5px 0 25px;
  color: rgba(0,0,0, 0.5);
}

.package-features-item {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #fae1dd;
}

.package-features-item:last-child{
  border-bottom: 1px solid #fae1dd;
}

.package-price {
  color: rgba(0,0,0, 0.5); 
  display: block;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
}



@media (min-width: 992px){
  .panel {
    flex-direction: row;
  }
  .package-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .package-plan:last-child {
    border-right: none;
  }

  .package-features-item {
    font-size: 0.8rem;
  }
  

 

}