
/* body {
    background-color: #f8edeb;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
} */

.panel {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.photo-package {
  /* border-bottom: 1px solid #fae1dd; */
  border-right: 1px solid #fae1dd;
  margin-left: 5px;
}
.photo-package:last-child {
  border-bottom: none;
  border-right: none;
}

.pricing-img {
  margin-bottom:0;
  margin-top:1rem;
  max-width: 250px;
}

.package-header {
  color: rgba(0, 0, 0, 0.700);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 2px;
  margin-top: 1rem;
}

.package-features {
  margin: 5px 0 25px;
  color: rgba(0,0,0, 0.5);
}

.package-features-item {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 0.9rem;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #fae1dd;
}

.package-features-item:last-child{
  border-bottom: 1px solid #fae1dd;
}


@media (min-width: 992px){
  .panel {
    flex-direction: row;
  }
  .package-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    padding: 25px 50px;
  }
  .package-plan:last-child {
    border-right: none;
  }

  .package-features-item {
    font-size: 0.8rem;
  }

}



.package-price {
  color: rgba(0,0,0, 0.5); 
  display: block;
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
}

.photo-package span {
  font-weight: 800;
}

.photo-package li {
  text-align: center;
}