.container {
    border: 1px solid blue;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}

.container a {
    border: 1px solid black;
    margin: 3px;
    padding: 3px;
}

body {
    background-color: #f8edeb;  
    font-family: 'Amatic SC', cursive;
    font-size: 2em; 
}