body {
    background-color: #f8edeb;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#logo {
max-height: 120px;
}

.navbar {
    background-color: #fae1dd;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}
.navbar-nav a {
    color: rgba(0, 0, 0, 0.5);
}


.nav-item, #navbarDropdownMenu {
    width: 120px;
    font-size: 1.2rem;
}
  
.navbar-nav a:hover {
    color: white;
    text-shadow:5px 5px 10px white;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }

.dropdown-menu {
    border-radius: 0.5rem;
    background-color: rgba(250, 225, 221, 0.8);
    
}

/* .dropdown-menu li {
    background-color: rgba(250, 225, 221, 0.4);
} */

.dropdown-item:hover {
    background-color:#fae1dd;
}

@media (max-width:1400px) {
    .nav-item, #navbarDropdownMenu, .dropdown-item {
        font-size: 1rem;
}
}
@media (max-width:1200px) {
    .nav-item, #navbarDropdownMenu, .dropdown-item {
        font-size: 0.9rem;
}
}

@media (max-width:992px) {
    .nav-item, #navbarDropdownMenu, .dropdown-item {
        font-size: 0.8rem;
}
#logo {
    min-width: 100px;
}
}

@media (max-width:576px){
#logo {
    display:none;
}

.navbar {
   min-height: 5rem;
    background-image: url('/images/logoKP-trans.png');
    background-size:200px;
    background-repeat: no-repeat;
    background-position: center;
}
}

#carousel {
    width: 85%;
}

