body {
    background-color: #f8edeb;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
}

#logo {
max-height: 120px;
}

.navbar {
    background-color: #fae1dd;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;
}

.nav-item, #navbarDropdownMenu {
    width: 120px;
    font-size: 1.2rem;
}

@media (max-width:1400px) {
    .nav-item, #navbarDropdownMenu {
        font-size: 1rem;
}
}
@media (max-width:1200px) {
    .nav-item, #navbarDropdownMenu {
        font-size: 0.9rem;
}
}

@media (max-width:992px) {
    .nav-item, #navbarDropdownMenu {
        font-size: 0.8rem;
}
#logo {
    max-height: 100px;
}
}

@media (max-width:576px){
#logo {
    display:none;
}
.navbar {
   min-height: 5rem;
    background-image: url('/images/logoKP-trans.png');
    background-size:200px;
    background-repeat: no-repeat;
    background-position: center;
}
}

#carousel {
    width: 85%;
}

