<% layout('layouts/boilerplate')%>
    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <h2 class="pshoot-header">Sesje noworodkowe</h2>
            </div>
            <div>
                <% if(currentUser) { %>
                    <a class="btn btn-warning" href="/noworodki/new">Dodaj zdjęcie</a>
                    <% } %>
            </div>
        </div>
        <div class="fade_rule"></div>
        <br>
        <p class="card-text shootIntro">Sesja noworodkowa to wyjątkowa pamiątka z okresu, który stanowczo zbyt szybko przeminie. Z czasu, kiedy w końcu możemy tulić tak wyczekiwaną przez nas istotkę i zachwycać się bez końca jej zapachem, malutkimi paluszkami i bliskością. To jest czas kiedy rodzi się wielka miłość i przewartościowuje się cały otaczający nas świat. Dla mnie sesja noworodkowa to udokumentowanie początku wspólnej drogi dziecka i rodziców. Ważne wydarzenie, do którego będzie można wracać w przyszłości.</p>    
        <p class="card-text shootIntro">Niemowlęta błyskawicznie rosną i zmieniają się, już dwumiesięczne maleństwo wygląda zupełnie inaczej niż po urodzeniu. Przyjęło się, że sesja noworodkowa wykonywana jest maksymalnie do 21 dnia życia Maluszka. Dzieje się tak dlatego, że im dziecko jest młodsze tym więcej śpi, jest bardziej elastyczne i jest mniejsza szansa na wystąpienie bolesnej kolki, która może wpłynąć na jego samopoczucie.</p>    
        <p class="card-text shootIntro">Sesję noworodkową najlepiej jest zarezerwować będąc w ciąży. Termin takiej sesji można przełożyć, bo przecież termin porodu jest datą orientacyjną i rozwiązanie może nastąpić wcześniej lub później. Rezerwując termin sesji newborn mam świadomość, że jeśli sesja się przesunie to muszę mieć zarezerwowany dodatkowy termin na jej przeprowadzenie</p>    

    
        <div class="container">
            <div class="row justify-content-start">
                <% for (let newb of newborn) { %>
                    <div class="col-xs-12 col-md-6 px-3 py-2">
                        <div class="pshoot-card card mb-3">
                            <div class="card-body p-0">
                                <% if(currentUser) { %>
                                    <a href="noworodki/<%=newb._id%>">link</a>
                                    <% } %>
                                <div>
                                    <% if(newb.images.length) {%>
                                        <img class="card-img-top" src="<%= newb.images[0].url %>" alt="card-img"
                                            id="pshoot-img">
                                        <% } else {%>
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/dqcadja0y/image/upload/v1617459271/sample.jpg"
                                                alt="card-img" id="pshoot-img">
                                            <% } %>
                                               
                                        </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>