<% layout('layouts/boilerplate')%>
    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <h2 class="pshoot-header">Dziecięce Mini Sesje Świąteczne</h2>
            </div>
           
          
            <div>
                <% if(currentUser) { %>
                    <a class="btn btn-warning" href="/sesja-swiateczna/new">Dodaj zdjęcie</a>
                    <% } %>
            </div>
        </div>
        <div class="fade_rule"></div>
        <br>
        
        <p class="card-text shootIntro">Boże Narodzenie to wyjątkowy czas, na który co roku czekają zarówno dzieci jak i dorośli. To czas pełen magii i radości, mieniący się milionami światełek i pachnący choinką.</p>    
        <p class="card-text shootIntro">Co prawda na święta przyjdzie nam jeszcze poczekać, ale już dziś serdecznie zapraszam na bajkowe sesje zdjęciowe, które przeniosą Was w świąteczny klimat.</p>    
       <p>Pakiet zawiera: </p>
       <ul>
        <li>40 minut sesji</li>
        <li>5 wybranych kadrów w wersji elektronicznej</li>
        <li>5 odbitek w formacie 15x21cm</li>
        <li>dodatkowe ujęcie w cenie 30 zł/szt.</li>
        <li>koszt 250 zł</li>
       </ul>
       
    <br>

       <ul>
        <li>Rezerwacja terminu następuje po wpłacie 50 zł bezzwrotnej opłaty rezerwacyjnej.</li>
        <li>Pozostała kwota płatna podczas sesji</li>
        <li>W sesji może wziąć udział tylko jedna rodzina z dzieckiem lub rodzeństwem.</li>
        <li>Rodzice zapewniają stroje dla siebie i dla dzieci.</li>
       </ul>
            
       <div class="container">
        <% for (let i of christmas) {%>
         <% if(currentUser) {%>
             <a class="btn btn-warning my-2" href="/sesja-swiateczna/<%=i._id%>/edit">Edytuj galerię</a>
         <%} %>
         <div class="d-flex justify-content-between">
             <div class="row">
             <% for(let img of i.images) { %>
                         <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 px-2">
                         <img src="<%= img.url %> " alt="" class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="gallery">
                     </div>
                 <% } %>
             </div>
         </div>
         <% } %>
     </div>
    </div>