<% layout('layouts/boilerplate') %>
    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <h2 class="pshoot-header">
                <%= family.title %>
            </h2>
            <section class="d-flex h-100">
                <% if(currentUser && family.owner.equals(currentUser._id)) { %>
                    <a class="btn btn-warning mx-2" href="/family/<%=family._id%>/edit">Edytuj sesję</a>
                    <form action="/family/<%=family._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Skasuj sesję</button>
                    </form>
            </section>
            <% } %>
        </div>
        <section class="gallery pt-3">
            <div class="container-lg d-flex flex-column align-items-center">
                <!-- <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3"> -->
                <% for(let img of family.images) { %>
                    <div class="col d-flex justify-content-center my-3 pe-2">
                        <img src="<%= img.url %> " alt="" class="gallery-item " alt="gallery">
                    </div>
                    <% } %>
                        <!-- </div> -->
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <img src="/images/pic1.jpeg" class="modal-img" alt="modal-img">
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer my-3 py-2 text-center">
            <a href="/family">Wróć do wszytkich sesji</a>
        </footer>
    </div>