<% layout('layouts/boilerplate')%>
    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <h1 class="pshoot-header">Sesja wielkanocna w Bielsku-Białej</h2>
            </div>


            <div>
                <% if(currentUser) { %>
                    <a class="btn btn-warning" href="/sesja-wielkanocna/new">Dodaj zdjęcie</a>
                    <% } %>
            </div>
        </div>
        <div class="fade_rule"></div>
        <br>

        <p class="card-text shootIntro">Sesja wielkanocna to dla mnie wstęp do wiosny. Pastelowe kolory, morze kwiatów i
            puchate zajączki wprowadzają do mojego studia niesamowity klimat i gwarantują dobry humor – zwłaszcza u
            odwiedzających mnie dzieci &#128521 Mottem przewodnim jest „dobra zabawa” i moi najmłodsi modele świetnie
            się w nim
            odnajdują. Wielkanocna sesja zdjęciowa to jednak nie tylko świetna zabawa, ale także niepowtarzalna pamiątka
            dla całej rodziny.</p>
        <h2 class="pshoot-header2">Oferta sesji wielkanocnej</h2>
        <p>Wielkanoc zawsze kojarzyła mi się z pierwszymi ciepłymi dniami, kwitnącymi miłkami wiosennymi i pyszną babką
            piaskową. Dzięki tym skojarzeniom z dzieciństwa budowanie scenki było dla mnie prawdziwą przyjemnością A
            co dokładnie jest w tegorocznej ofercie?
        <ul>
            <li>sesja wielkanocna rodzinna</li>
            <li>sesja wielkanocna dzieci</li>
            <li>sesja wielkanocna niemowlaka / noworodka</li>
        </ul>

        <p>
            Zapraszam do współpracy Przedszkola &#128521 Mam doświadczenie w przeprowadzaniu sesji zarówno w
            Przedszkolach
            jak i w Żłobkach.
        </p>

        </p>Scenka jest kompleksowo przygotowana, dominują pastelowe kolory, a przygotowane rekwizyty z pewnością
        przypadną do gustu dzieciom – od filcowych marchewek, po kolorowe jajka w wielu rozmiarach.
        </p>

        <h2 class="pshoot-header2">Sesja wielkanocna w studiu w Bielsku-Białej</h2>
        <p>Sesje odbywają się w moim studiu, które znajduje się w samym centrum miasta – w zabytkowej Kamienicy pod
            Orłem (ul. 11 Listopada 60-62). Studio jest kompleksowo wyposażone, zarówno pod względem rekwizytów jak i
            sprzętu. Pracuję na sprzętach takich marek jak: Canon, Jinbei, Sigma Art, Apple, Quadralite</p>

        <h2 class="pshoot-header2">Jak przygotować się do sesji?</h2>
        <p>O co warto zadbać przed rozpoczęciem sesji wielkanocnej? Oczywiście o dobry nastrój małego modela lub modeli!
            Maluszek powinien być wypoczęty i nakarmiony, tak aby czerpał radość z sesji i dobrze się bawił. Ja zadbam o
            to, aby atmosfera była luźna i przyjazna, dobiorę rekwizyty, które zaciekawią dziecko.</p>


        <div class="container">
            <% for (let i of easter) {%>
                <% if(currentUser) {%>
                    <a class="btn btn-warning my-2" href="/sesja-wielkanocna/<%=i._id%>/edit">Edytuj galerię</a>
                    <%} %>
                        <div class="d-flex justify-content-between">
                            <div class="row">
                                <% for(let img of i.images) { %>
                                    <div class="col-lg-6 col-md-12 mb-4 mb-lg-0 px-2">
                                        <img src="<%= img.url %> " alt=""
                                            class="gallery-item w-100 shadow-1-strong rounded mb-4" alt="gallery">
                                    </div>
                                    <% } %>
                            </div>
                        </div>
                        <% } %>
        </div>
    </div>