<% layout('layouts/boilerplate')%>

    <div class="row">
        <h1 class="text-center">Edytuj sesję</h1>
        <div class="col-6 offset-3">
            <form action="/kids/<%= kids._id%>?_method=PUT " method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Nazwa sesji</label>
                    <input class="form-control" type="text" id="title" name="kids[title]" value="<%= kids.title %>"
                        required>
                    <div class="valid-feedback">
                        Już lepiej!
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Opis sesji</label>
                    <textarea class="form-control" type="text" id="description" name="kids[description]"
                        value="<%= kids.description %>" required>
                </textarea>
                </div>
                <div class="valid-feedback">
                    Już lepiej!
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Edytuj sesję</button>
                </div>
            </form>
            <section><a href=" /kids/<%= kids._id %> ">wróć do sesji</a></section>
            <section><a href="/kids">Sesje dziecięce</a></section>
        </div>
    </div>



    <script>
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.validated-form')

            // Loop over them and prevent submission
            Array.from(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>