<% layout('layouts/boilerplate')%>

    <div class="container">
        <div id="pshoot-header">
            <h2>Sesje dziecięce</h2>
            <% if(currentUser) { %> 
            <a class="btn btn-warning align-text-middle" href="/kids/new">Dodaj sesję</a>
            <% } %> 
        </div>
        <div class="container">
            <div class="row justify-content-start">
                <% for (let kid of kids) { %>
                    <div class="col-xs-12 col-md-6 col-xl-4 px-3">
                        <div class="card mb-4" id="pshoot-card">
                            <div class="card-body p-0">
                                <a href="kids/<%=kid._id%>">
                                 <% if(kid.images.length) {%> 
                                <img class="card-img-top" src="<%= kid.images[0].url %>" alt="card-img" id="pshoot-img">
                                <% } else {%> 
                                <img class="card-img-top" src="https://res.cloudinary.com/dqcadja0y/image/upload/v1617459271/sample.jpg" alt="card-img" id="pshoot-img">
                                <% } %> 
                                    <h5 class="card-title mx-2 my-2">
                                        <%=kid.title%>
                                    </h5>
                                </a>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>