<% layout('layouts/boilerplate') %>
    <div class="container">
        <div id="pshoot-header">
            <h1><%= kids.title %></h1>
            <section class="d-flex h-100">
                <% if(currentUser && kids.owner.equals(currentUser._id)) { %> 
                    <a class="btn btn-warning mx-2" href="/kids/<%=kids._id%>/edit">Edytuj sesję</a>
                <form action="/kids/<%=kids._id%>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Skasuj sesję</button>
                </form>
            </section>
            <% } %> 
        </div>
        <section class="gallery min-vh-100 pt-3">
            <div class="container-lg">
                <div class="row gy-4 row-cols-1 row-cols-sm-2 row-cols-md-3">
                    <div class="col">
                        <img src="/images/pic1.jpeg" class="gallery-item "alt="gallery">
                    </div>
                    <div class="col">
                        <img src="/images/pic2.jpeg" class="gallery-item "alt="gallery">
                    </div>
                    <div class="col">
                        <img src="/images/pic3.jpeg" class="gallery-item "alt="gallery">
                    </div>
                    <div class="col">
                        <img src="/images/pic4.jpeg" class="gallery-item "alt="gallery">
                    </div>
                    <div class="col">
                        <img src="/images/pic5.jpeg" class="gallery-item "alt="gallery">
                    </div>
                </div>
            </div>
        </section>
  
  <!-- Modal -->
  <div class="modal fade" id="gallery-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <img src="/images/pic1.jpeg" class="modal-img" alt="modal-img">
        </div>
      </div>
    </div>
  </div>
          
        <footer>
            <a href="/kids">Wszystkie sesje</a>
        </footer>
    </div>
 