<% layout('layouts/boilerplate') %>



<!-- <div class="card">
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <h3>Logowanie</h3>
            <form action="/login" method="POST" class="validated-form" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="username">Użytkownik</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    </input>
                </div>
                <div class="valid-feedback">
                    Jest OK!
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Hasło</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    </input>
                </div>
                <div class="valid-feedback">
                    Jest OK!
                </div>
                <button class="btn btn-success w-100">Zaloguj</button>
            </form>
        </div>
    </div>

</div> -->



<main class="form-signin">
    <form action="/login" method="POST" class="validated-form" novalidate>
      <img class="mb-4" src="./images/Karolina photo_logo.png" alt="" width="72" height="57">
      <h3 class="h3 mb-3 fw-normal">Zaloguj się proszę:</h3>
      <div class="form-floating">
        <input class="form-control" type="text" id="username" name="username" placeholder="użytkownik" required>
        <label class="form-label" for="username">Użytkownik</label>
            <div class="valid-feedback">
                Jest OK!
            </div>
      </div>
      <div class="form-floating">
        <input class="form-control" type="password" id="password" name="password" placeholder="Hasło" required>
        <label for="password">Hasło</label>
            <div class="valid-feedback">
                Jest OK!
            </div>
      </div>
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Pamiętaj mnie
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Zaloguj</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
  </main>
  