<% layout('layouts/boilerplate')%>

    <h2>Wszystkie sesje rodzinne</h2>
    <div>
        <a href="/kids/new">Dodaj sesję</a>
    </div>
    <ul>
        <% for (let kid of kids) { %>
            <li>
                <a href="/kids/<%= kid._id %>">
                    <%= kid.title %>
                </a>
            </li>
            <% } %>
    </ul>