<% layout('layouts/boilerplate')%>
    <div class="container pt-3">
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <h2 class="pshoot-header">Sesje rodzinne</h2>
            </div>
            <div>
                <% if(currentUser) { %>
                    <a class="btn btn-warning" href="/rodzinne/new">Dodaj zdjęcie</a>
                    <% } %>
            </div>
        </div>
        <div class="fade_rule"></div>
        <br>
        <p class="card-text shootIntro">Sesja rodzinna to nie tylko wspaniała pamiątka, ale również prawdziwa przygoda, którą przeżyjecie razem. To okazja do świetnej zabawy i uwiecznienia więzi, jaka łączy członków rodziny. WSZYSTKICH członków rodziny – nie wiem jak u Was, ale u mnie na zdecydowanej większości zdjęć brakuje mnie lub mojego męża, bo ktoś musi trzymać aparat &#128521</p>    
        <p class="card-text shootIntro">Zdjęcia rodzinne można zaplanować w studio lub w plenerze. Te wykonane w plenerze są zwykle bardziej spontaniczne, skłaniają do żartów i zabawy. Natomiast w studio możemy wyczarować bardziej efektowne i eleganckie ujęcia - możecie sobie pozwolić również na większą otwartość i intymność, na okazywanie emocji bez obawy, że pojawi się ktoś postronny.</p>    
        <div class="container">
            <div class="row justify-content-start">
                <% for (let fam of family) { %>
                    <div class="col-xs-12 col-md-6 px-3 py-3">
                        <div class="pshoot-card card mb-4">
                            <div class="card-body p-0">
                                <% if(currentUser) { %>
                                    <a href="rodzinne/<%=fam._id%>">link</a>
                                    <% } %>
                                <div>
                                    <% if(fam.images.length) {%>
                                        <img class="card-img-top" src="<%= fam.images[0].url %>" alt="card-img"
                                            id="pshoot-img">
                                        <% } else {%>
                                            <img class="card-img-top"
                                                src="https://res.cloudinary.com/dqcadja0y/image/upload/v1617459271/sample.jpg"
                                                alt="card-img" id="pshoot-img">
                                            <% } %>
                                            </div>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>
        </div>
    </div>